amqp==5.2.0
appdirs==1.4.4
asgiref==3.7.2
astroid==2.6.2
asttokens==2.0.5
Babel==2.12.1
backports.entry-points-selectable==1.1.0
backports.zoneinfo==0.2.1
billiard==4.2.0
black==21.7b0
certifi==2022.12.7
cfgv==3.3.0
channels==4.0.0
charset-normalizer==2.0.8
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.2
Django==4.2.9
django-admin-interface==0.26.1
# django-celery-results==2.5.1
django-colorfield==0.10.1
django-doctor==2.5.0
django-jazzmin==2.6.0
dparse==0.5.1
et-xmlfile==1.1.0
filelock==3.0.12
flake8==3.9.2
identify==2.2.11
idna==3.3
isort==5.9.2
kombu==5.3.4
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
numpy==1.24.4
openpyxl==3.1.2
packaging==21.0
pandas==2.0.3
pathspec==0.8.1
Pillow==10.1.0
platformdirs==2.2.0
poetry-semver==0.1.0
pre-commit==2.13.0
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pylint==2.9.3
pyparsing==2.4.7
python-dateutil==2.8.2
python-http-client==3.3.7
python-slugify==8.0.1
pytz==2020.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
rich==10.6.0
schedule==1.2.1
sendgrid==6.9.7
six==1.16.0
skjold==0.3.2
sqlparse==0.4.2
starkbank-ecdsa==2.2.0
swapper==1.3.0
text-unidecode==1.3
toml==0.10.2
tomli==1.0.4
typing-extensions==4.7.1
tzdata==2023.3
urllib3==1.26.7
vine==5.1.0
virtualenv==20.7.0
wcwidth==0.2.10
wrapt==1.12.1
redis
python-dotenv
# django-celery-beat
celery
#celery[redis]
sqlalchemy
#pyodbc