{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div>
                        <div class="row">
                            <div class="col-sm-12">

                                    <h3> <label class="label texto-destacado">Sobre el sistema:</label>  </h3>
                                    <div class="col-sm-10">
                                        <p>AcOms es un Sistema de Gestión y Seguimiento de citas, tutorías y orientaciones académicas por sus siglas en inglés (Academic Orientation Managment System) que fue desarrollado por un alumno de la Facultad de Ciencias y Tecnología de la Universidad Autónoma de Asunción. El propósito de esta solución es ofrecer una herramienta que facilite a los alumnos la solicitud de citas con los funcionarios y/o docentes de la facultad para realizar tutorías y orientaciones académicas (ambas denominadas actividades académicas) que requieran de gestiones posteriores y un seguimiento adecuado hasta su finalización.
                                        </p> 
                                    </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block extrascripts %}



<script> 

    $(document).ready(function() {

        $('#AboutMenu').addClass('active');
    });

</script> 
{% endblock extrascripts %}
