{% extends 'base/base.html' %}
{% load static %}

{% block title %}Citas{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            {% if perms.calendarapp.iniciar_cita %}
            <div>
                <button type="button" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:tipo_acti_academ' %}" hx-target="#dialog" >
                    Registrar Actividad Académica
                </button>
            </div>
            <br>
            {% endif %}
            

            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th >ID</th>
                                            <th >Fecha</th>
                                            <th >Dia</th>
                                            <th >Horario</th>
                                            <th >Estado</th>
                                            <th>Encargado</th>
                                            <th>Solicitante</th>
                                            <th>Tipo</th>
                                            <th >Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in lista_actividades %}
                                            <tr role="row" class="odd">
                                                {% comment %} <td class="sorting_1">{{ forloop.counter }}</td> {% endcomment %}
                                                <td>
                                                    {% if event.id_tutoria %}
                                                            {{ event.id_tutoria }} 
                                                    {% else %}
                                                            {{ event.id_orientacion_academica }} 
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if event.id_tutoria %}
                                                        {% if event.id_tutoria.datetime_inicio_real %}
                                                            {{ event.id_tutoria.datetime_inicio_real|date:"d/m/Y" }} 
                                                        {% else %}
                                                            {{ event.id_tutoria.datetime_inicio_estimado|date:"d/m/Y" }} 
                                                        {% endif %} 
                                                    {% else %}
                                                        {% if event.id_orientacion_academica.datetime_inicio_real %}
                                                            {{ event.id_orientacion_academica.datetime_inicio_real|date:"d/m/Y" }} 
                                                        {% else %}
                                                            {{ event.id_orientacion_academica.datetime_inicio_estimado|date:"d/m/Y" }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if event.id_tutoria %}
                                                        {% if event.id_tutoria.datetime_inicio_real %}
                                                        {{ event.id_tutoria.datetime_inicio_real|date:'l'|title  }}
                                                        {% else %}
                                                            {{ event.id_tutoria.datetime_inicio_estimado|date:'l'|title  }}
                                                        {% endif %} 
                                                    {% else %}
                                                        {% if event.id_orientacion_academica.datetime_inicio_real %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_real|date:'l'|title  }}
                                                        {% else %}
                                                            {{ event.id_orientacion_academica.datetime_inicio_estimado|date:'l'|title  }}
                                                        {% endif %} 
                                                    {% endif %} 

                                                </td>
                                                <td>
                                                    {% if event.id_tutoria %}
                                                        {% if event.id_tutoria.datetime_fin_real %}
                                                            {{ event.id_tutoria.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ event.id_tutoria.datetime_fin_real|time:"H:i" }}
                                                        {% else %}
                                                            {{ event.id_tutoria.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ event.id_tutoria.datetime_fin_estimado|time:"H:i" }}
                                                        {% endif %} 
                                                    {% else %}
                                                        {% if event.id_orientacion_academica.datetime_fin_real %}
                                                            {{ event.id_orientacion_academica.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ event.id_orientacion_academica.datetime_fin_real|time:"H:i" }}
                                                        {% else %}
                                                            {{ event.id_orientacion_academica.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ event.id_orientacion_academica.datetime_fin_estimado|time:"H:i" }}
                                                        {% endif %} 
                                                    {% endif %} 

                                                </td>
                                                <td>
                                                    {% if event.id_tutoria %}
                                                        {{ event.id_tutoria.id_estado_actividad_academica.descripcion_estado_actividad_academica}}                                            
                                                    {% else %}
                                                        {{ event.id_orientacion_academica.id_estado_actividad_academica.descripcion_estado_actividad_academica}}
                                                    {% endif %} 
                                                
                                                </td>

                                                <td>
                                                    {% if event.id_tutoria %}
                                                        {{ event.id_tutoria.id_funcionario_docente_encargado|title}}
                                                    {% else %}
                                                        {{ event.id_orientacion_academica.id_funcionario_docente_encargado|title}}
                                                    {% endif %} 
                                                </td>

                                                <td>
                                                    {% if event.id_tutoria %}
                                                        {{ event.id_tutoria.id_persona_solicitante.nombre|add:' '|title}}{{ event.id_tutoria.id_persona_solicitante.apellido|title }}
                                                    {% else %}
                                                        {{ event.id_orientacion_academica.id_persona_solicitante.nombre|add:' '|title}}{{ event.id_orientacion_academica.id_persona_solicitante.apellido|title }}
                                                    {% endif %} 
                                                    </td>
                                                <td>
                                                    {% if event.id_tutoria %}
                                                        Tutoría
                                                    {% else %}
                                                        Orientación Académica
                                                    {% endif %} 
                                                </td>

                                                <td>
                                                    <div>
                                                        {% if event.id_tutoria %}
                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn btn-primary"  hx-target="#dialog" title="Detalles" hx-get="{% url 'calendarapp:detalles_acti_academ' id_tutoria=event.id_tutoria id_ori_academ=0 %}"> 
                                                                <i class="bi bi-eye-fill"></i>
                                                            </button> 
                                                            
                                                            <!-- Button trigger modal -->
                                                            {% if event.id_tutoria.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Iniciada' %}
                                                                {% if perms.calendarapp.iniciar_cita %}
                                                                    <a class="btn btn-primary" title="Editar" href="{% url 'calendarapp:modificar_tutoria' pk=event.id_tutoria %}"> <i class="bi bi-pencil"></i> </a> {% comment %} href="{% url 'calendarapp:modificar_cita_tutoria' pk=event.id_tutoria.id_actividad_academica %}"> {% endcomment %}
                                                                    <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_tutoria=event.id_tutoria id_ori_academ=0 %}"> <i class="bi bi-x-lg"></i> </button> 
                                                                    <button type="button" class="btn btn-primary" hx-target="#dialog" title="Finalizar Tutoría" hx-get="{% url 'calendarapp:finalizar_actividad_academica' id_tutoria=event.id_tutoria id_ori_academ=0 %}"> <i class="bi bi-check2"></i> 
                                                                {% endif %}
                                                            {% endif %}


                                                        {% else %}

                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn btn-primary"  hx-target="#dialog" title="Detalles" hx-get="{% url 'calendarapp:detalles_acti_academ' id_tutoria=0 id_ori_academ=event.id_orientacion_academica %}"> 
                                                                <i class="bi bi-eye-fill"></i>
                                                            </button> 

                                                            {% if event.id_orientacion_academica.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Iniciada'%} 
                                                                {% if perms.calendarapp.iniciar_cita %}
                                                                    <a class="btn btn-primary" title="Editar" href="{% url 'calendarapp:modificar_orientacion' pk=event.id_orientacion_academica %}"> <i class="bi bi-pencil" ></i> </a>{% comment %}  href="{% url 'calendarapp:modificar_cita_ori_academica' pk=event.id_cita.id_actividad_academica %}" {% endcomment %}
                                                                    <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_tutoria=0 id_ori_academ=event.id_orientacion_academica %}"> <i class="bi bi-x-lg"></i> </button> 
                                                                    <button type="button" class="btn btn-primary" hx-target="#dialog" title="Finalizar Orientación Académica" hx-get="{% url 'calendarapp:finalizar_actividad_academica' id_tutoria=0 id_ori_academ=event.id_orientacion_academica %}" > <i class="bi bi-check2"></i> </button> 
                                                                {% endif %} 
                                                            {% endif %}


                                                        {% endif %} 

                                                        
                                                        
                                                    </div>

                                                    
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
        },
    });</script>  

{% endblock extrascripts %}
