{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
            <div class="tile-body">
                <div class="table-responsive">
                    <div class="tile">
                        <div>
                            <button type="button" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:add_cal_func_doc' %}" hx-target="#dialog" >
                                Agregar
                            </button>
                        </div>
                        <br>
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    {% comment %} {% csrf_token %} {% endcomment %}

                                    <thead>
                                        <tr role="row">
                                            {% comment %} <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">SL</th> {% endcomment %}
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 189.281px;">Convocatoria</th>  {% comment %} 417.312px {% endcomment %}
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 102.141px;">Dia</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 102.141px;">Hora Inicio</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Hora Fin</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.281px;">Accion</th>


                                        </tr>
                                    </thead>

                                    <tbody hx-get= "{% url 'calendarapp:lista_cal_func_doc' %}" hx-trigger="load, calenarioListChange from:body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% comment %} 
modificar el formulario base de ABM 
{% endcomment %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
