{% extends 'base/base.html' %}
{% load static %}
{% block title %}Calendario{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  {% comment %} <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>

  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul> {% endcomment %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-12">

              <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-top: 15px; padding-right: 30px; padding-bottom: 25px;">
                <!-- Elementos a la izquierda -->
                  <div>
                    <i class="bi bi-circle-fill" style="color: #7979e4"></i> <text style="color: #555555"> Cita Tutoria </text>
                    <i class="bi bi-circle-fill" style="color: rgb(89, 141, 214)"></i> <text style="color: #555555">Cita Orientación Académica</text>
                  </div>
                
                  <!-- Elementos a la derecha -->
                  <div>
                    <i class="bi bi-circle-fill" style="color: #fcf264;"></i> <text style="color: #555555">Pendiente</text>
                    <i class="bi bi-circle-fill" style="color: #0cb7f2;"></i> <text style="color: #555555">Confirmada</text>
                    <i class="bi bi-circle-fill" style="color: #FFB6C1;"></i> <text style="color: #555555">Rechazada</text>
                    <i class="bi bi-circle-fill" style="color: #ba0f4e;"></i> <text style="color: #555555">Cancelada</text>
                    <i class="bi bi-circle-fill" style="color: #0cc55c;"></i> <text style="color: #555555">Finalizada</text>
                  </div>
              </div>

              <div id="calendar"></div>
              {% comment %} {{ tipo_usuario.tipo_usuario }} {% endcomment %}
              </div>

              <!-- Elementos de modal -->
              <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class='modal-header text-center'>
                          <h3 class="modal-title w-100">Detalles de Cita</h3> 
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
  
                        <div class="modal-body">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-20">
                                      <label class="label-bold text-primary" for="fecha">Fecha:</label>
                                      <label class="label" id="fecha"></label>
                                  </div>
                              </div>

                              <div class="row">  
                                  <div class="col-md-20">
                                      <label class="label-bold text-primary" for="horario">Horario:</label>
                                      <label class="label" id="horario"></label>
                                  </div>
                              </div>
                              
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="encargado">Encargado:</label>
                                  <label class="label" id="encargado"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="solicitante">Solicitante:</label>
                                  <label class="label" id="solicitante"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="motivo">Motivo:</label>
                                  <label class="label" id="motivo"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="estado">Estado:</label>
                                  <label class="label" id="estado"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="convocatoria">Convocatoria:</label>
                                  <label class="label" id="convocatoria"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="facultad">Facultad:</label>
                                  <label class="label" id="facultad"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="materia">Materia:</label>
                                  <label class="label" id="materia"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="observacion">Observación:</label>
                                  <label class="label" id="observacion"></label>
                                </div>
                              </div>
  
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="nro_curso">Nro Curso:</label>
                                  <label class="label" id="curso"></label>
                                </div>
                              </div>
  
                                <div class="row">
                                  <div class="col-md-20">
                                    <label class="label-bold text-primary" for="tipo">Tipo Cita:</label>
                                    <label class="label" id="tipo"></label>
                                  </div>
                              </div>
                              
                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label-bold text-primary" for="participantes">Participantes:</label>
                                  <ul id="participantes">
                                </div>
                              </div>
  
                              <div class="modal-footer">
                                <div class="mt-2" id="container">
                                    {% comment %} <a class="btn btn-primary mt-2" href="" id="id_cita" title="Más Detalles">
                                      <i class="bi bi-eye-fill"></i>
                                    </a> {% endcomment %}
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              <!-- fin modal -->
            </div>
        </div>
     </div>
</div>


<div id="modalAccionesEvents" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"> 
      
  </div>
</div>

{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'calender/main.js' %}"></script>
  {% comment %} usamos este enlace porque no traducia correstamente los botones del header {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
  <script>


      document.addEventListener('DOMContentLoaded', function() {
        $('#calendarMenu').addClass('active');

        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
            //right: 'dayGridMonth,list',

          },
          locale: 'es',
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: false, // para evitar que seleccione otros horarios
          selectMirror: true,

          //dias y horas configuraciones
          //division de las horas en filas
          slotDuration: '00:05',
          //formato de las horas en filas
          slotLabelFormat :{
            hour: 'numeric',
            minute: '2-digit',
            omitZeroMinute: true,
            meridiem: 'short'
          },

          //rangos de minimo y maximahora
          slotMinTime: "08:00",
          slotMaxTime: "22:00",
          //iniciar en lunes
          firstDay: 1,
          //sacar domingo
          hiddenDays: [7],
          //scrollTimeReset: false,
          //eventos
          //ste dtermina el alto del cuadrado del evento
          eventMinHeight: 80,
          eventShortHeight: 30,
          //determina si van a estar juntos o escalados, en ste caso estaran juntos
          slotEventOverlap: false,

          allDaySlot: false,
          //cantidad maxima de eventos en un rngo de horarios iguales 
          eventMaxStack: 5,
          //expandRows: true,
          //desplazar los nombres de las fechas al bajar
          stickyHeaderDates: true,

          
          select: function(arg) {
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

          // bangladesh Holidays
          // events: 'bn.bd#holiday@group.v.calendar.google.com',
          eventClick: function(info) {

            //valor = parseInt(arg.event['_def']['extendedProps']['id_cita']);
            var id_cita = info.event.extendedProps.id_cita;
            var horario = info.event.extendedProps.horario;
            var fecha = info.event.extendedProps.fecha;
            var encargado = info.event.extendedProps.encargado;
            //var receptor = info.event.extendedProps.receptor;
            var solicitante = info.event.extendedProps.solicitante;
            var motivo = info.event.extendedProps.motivo;
            var estado = info.event.extendedProps.estado;
            var convocatoria = info.event.extendedProps.convocatoria;
            var facultad = info.event.extendedProps.facultad;
            var materia = info.event.extendedProps.materia;
            var observacion = info.event.extendedProps.observacion;
            var curso = info.event.extendedProps.curso;
            var tipo = info.event.extendedProps.tipo;
            var participantes = info.event.extendedProps.participantes;
            var tipo_usuario= info.event.extendedProps.tipo_usuario;
            

            // Mostrar el modal con los detalles del evento
            mostrarModal(horario, fecha, encargado, solicitante, motivo, estado, convocatoria, facultad, materia, observacion, curso, tipo, participantes, id_cita, tipo_usuario);

          },

          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ events|safe }},

          //cambiamos el color de los cuadros dependiendo si es tutoria u orintacion acadmica
          eventClassNames: function(arg) {
            // Acceder al atributo personalizado del evento
            var tipo = arg.event.extendedProps.tipo_cita;
            var estado = arg.event.extendedProps.estado;    
            var eventClassList = [];

            if (tipo === 'ori_academica' & estado == 'Pendiente') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-yellow');

            } else if (tipo === 'ori_academica' & estado == 'Cancelada') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-red');
            }
            else if (tipo === 'ori_academica' & estado == 'Finalizada') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-green');
            }

            else if (tipo === 'ori_academica' & estado == 'Confirmada') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-orange');
            }

            else if (tipo === 'ori_academica' & estado == 'Rechazada') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-pink');
            }

            else if (tipo === 'tutoria' & estado == 'Cancelada') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-red');
            }

            else if (tipo === 'tutoria' & estado == 'Pendiente') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-yellow');
            }
            
            else if (tipo === 'tutoria' & estado == 'Finalizada') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-green');
            }
            
            else if (tipo === 'tutoria' & estado == 'Confirmada') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-orange');
            }
            
            else if (tipo === 'tutoria' & estado == 'Rechazada') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-pink');
            };
              

            // Si no se cumple ninguna condición, no se agrega ninguna clase adicional al evento
            return eventClassList;
          },

          eventDidMount: function(info) {
            var icon = info.event.extendedProps.icon;
            var tipo = info.event.extendedProps.tipo_cita;
            var estado = info.event.extendedProps.estado;    

            if (info.event.extendedProps.icon) {
            }
            else{
              //
              if (calendar.view.type != "dayGridMonth") {

                if (tipo === 'ori_academica' & estado == 'Pendiente') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #dcd91f;font-size: 24px;'>•</i>");

                } 
                else if (tipo === 'ori_academica' & estado == 'Cancelada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #ba0f4e;font-size: 24px;'>•</i>");

                }
                else if (tipo === 'ori_academica' & estado == 'Finalizada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #0cc55c;font-size: 24px;'>•</i>");
                }
                
                else if (tipo === 'ori_academica' & estado == 'Confirmada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #d89219;font-size: 24px;'>•</i>");
                }

                else if (tipo === 'ori_academica' & estado == 'Rechazada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #FFB6C1;font-size: 24px;'>•</i>");
                }

                else if (tipo === 'tutoria' & estado == 'Cancelada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #ba0f4e;font-size: 24px;'>•</i>");

                }
                else if (tipo === 'tutoria' & estado == 'Pendiente') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #dcd91f;font-size: 24px;'>•</i>");

                }
                else if (tipo === 'tutoria' & estado == 'Finalizada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #0cc55c;font-size: 24px;'>•</i>");
                
                }
                else if (tipo === 'tutoria' & estado == 'Confirmada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #d89219;font-size: 24px;'>•</i>");
                
                }   
                else if (tipo === 'tutoria' & estado == 'Rechazada') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #FFB6C1;font-size: 24px;'>•</i>");
                
                }                   
              } 
            }  
              
          },
        });

        
        calendar.render();

      });

      function mostrarModal(horario, fecha, encargado, solicitante, motivo, estado, convocatoria, facultad, materia, observacion, curso, tipo, participantes, id_cita, tipo_usuario) {
        // Obtener el modal

        var modal = document.getElementById('eventModal')
          

    
        // Obtener los elementos del modal
        var modalHorario = modal.querySelector('#horario');
        var modalHfecha = modal.querySelector('#fecha');
        var modalencargado = modal.querySelector('#encargado');
        var modalsolicitante = modal.querySelector('#solicitante');
        var modalmotivo = modal.querySelector('#motivo');
        var modalestado = modal.querySelector('#estado');
        var modalconvocatoria = modal.querySelector('#convocatoria');
        var modalfacultad= modal.querySelector('#facultad');
        var modalmateria = modal.querySelector('#materia');
        var modalobservacion = modal.querySelector('#observacion');
        var modalcurso = modal.querySelector('#curso');
        var modaltipo = modal.querySelector('#tipo');
        var modalparticipantes = modal.querySelector('#participantes');
        var modalid_cita = modal.querySelector('#id_cita');
        //var modaliniciar_cita = modal.querySelector('#id_iniciar_cita');
        modalparticipantes.innerHTML = '';

        //var modalDescripcion = modal.querySelector('.modal-body .descripcion');

        if (Array.isArray(participantes) && participantes.length > 0) {
          // El objeto es un array y contiene valores
      
          // Iterar sobre cada valor en el array
          participantes.forEach(function(value) {
            // Crear un elemento de lista y agregarlo a la lista
            //console.log(value)
            var liElement = document.createElement('li');
            liElement.textContent = value["id_participante__nombre"] + " " + value["id_participante__apellido"];
            modalparticipantes.appendChild(liElement);
          });
        } else {
          // El objeto no contiene valores
          // Mostrar un mensaje
          modalparticipantes.textContent = 'Sin participantes...';
        }
    
        // Establecer los valores del modal
        modalHorario.textContent = horario;
        modalHfecha.textContent = fecha;
        modalencargado.textContent = encargado;
        modalsolicitante.textContent = solicitante;
        modalmotivo.textContent = motivo;
        modalestado.textContent = estado;
        modalconvocatoria.textContent = convocatoria;
        modalfacultad.textContent = facultad;
        modalmateria.textContent = materia;
        modalobservacion.textContent = observacion;
        modalcurso.textContent = curso;
        modaltipo.textContent = tipo;

      // Obtener el elemento <div> con el ID "container" para insertar nuestros botones dinamicamente
        const container = document.getElementById("container");
        // Limpia el contenido existente en el container
        container.innerHTML = '';

        // Agregar el elemento "Más Detalles" al container
        const masDetallesLink = document.createElement("a");
        masDetallesLink.className = "btn btn-primary mt-2";
        masDetallesLink.id = "id_cita";
        if (tipo == 'Tutoría'){
          masDetallesLink.href = '/moredetallesCitaTutoria/' + id_cita; // O la URL que corresponda
        }else  if (tipo == 'Orientacion Académica') {
          masDetallesLink.href = '/moredetallesCitaOriAcadem/' + id_cita; // O la URL que corresponda
        }
        masDetallesLink.title = "Más Detalles";

        // Agregar el icono al elemento "Más Detalles"
        const masDetallesIcon = document.createElement("i");
        masDetallesIcon.className = "bi bi-eye-fill";

        masDetallesLink.appendChild(masDetallesIcon);

        // Agregar el elemento "Más Detalles" al container
        container.appendChild(masDetallesLink);


        //verificar
        if (tipo == 'Orientacion Académica'){

          if (estado == "Pendiente") {

            //habilitar solo al usuario normal
            if (tipo_usuario== "normal"){
              // Crear un nuevo elemento <a> para editar
              const link = document.createElement("a");
              link.className = "btn btn-primary mt-2";
              link.id = "editar_ori_academica";
              link.href = '/modificarCitaOriAcademica/'+ id_cita; // Agrega aquí la URL deseada
              link.title = "Editar";

              // Crear un nuevo elemento <i> para el icono
              const icon = document.createElement("i");
              icon.className = "bi bi-pencil-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              link.appendChild(icon);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(link);

              // Crear un nuevo elemento <a> para cancelar
              const link_cancelar = document.createElement("a");
              link_cancelar.className = "btn btn-primary mt-2";
              link_cancelar.id = "cancelar_ori_academica";
              link_cancelar.style = "color: white;";
              link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
              link_cancelar.title = "Cancelar";

              // Crear un nuevo elemento <i> para el icono
              const icon_cancelar = document.createElement("i");
              icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              link_cancelar.appendChild(icon_cancelar);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(link_cancelar);

              link_cancelar.addEventListener('click', function (event) {
                event.preventDefault();
                // Obtener la URL del atributo "data-url" del elemento <a>
                var url = link_cancelar.getAttribute("data-url");
                // Obtener el elemento modal
                var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function (data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);
                    // Mostrar el modal
                    modal.modal('show');
                });
              });  

            } else {
              // Crear un nuevo elemento <a> para confirmar cita  
              const newLinkConfirmar = document.createElement("a");
              newLinkConfirmar.className = "btn btn-primary mt-2";
              newLinkConfirmar.id = "confirmar_cita_orientacion";
              newLinkConfirmar.style = "color: white;";
              newLinkConfirmar.setAttribute("data-url", '/cita/confirmar/'+ id_cita); // Agrega aquí la URL deseada
              newLinkConfirmar.title = "Confirmar Cita";
    
              // Crear un nuevo elemento <i> para el icono
              const newIconConfirmar = document.createElement("i");
              newIconConfirmar.className = "bi bi-calendar-check"; // Clase para el icono 

              // Agregar el icono al elemento <a>
                newLinkConfirmar.appendChild(newIconConfirmar);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(newLinkConfirmar);

              newLinkConfirmar.addEventListener('click', function (event) {
                event.preventDefault();
                // Obtener la URL del atributo "data-url" del elemento <a>
                var url = newLinkConfirmar.getAttribute("data-url");
                // Obtener el elemento modal
                var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function (data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);
                    // Mostrar el modal
                    modal.modal('show');
                });
              });  

              // Crear un nuevo elemento <a> para rechazar cita  
                const newLinkRechazarOripend = document.createElement("a");
                newLinkRechazarOripend.className = "btn btn-primary mt-2";
                newLinkRechazarOripend.id = "rechazar_cita_orientacion";
                newLinkRechazarOripend.style = "color: white;";
                newLinkRechazarOripend.setAttribute("data-url", '/cita/rechazar/'+ id_cita); // Agrega aquí la URL deseada
                newLinkRechazarOripend.title = "Rechazar Cita";
      
                // Crear un nuevo elemento <i> para el icono
                const newIconrechazarorie = document.createElement("i");
                newIconrechazarorie.className = "bi bi-box-arrow-left"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                  newLinkRechazarOripend.appendChild(newIconrechazarorie);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(newLinkRechazarOripend);

                newLinkRechazarOripend.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = newLinkRechazarOripend.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });  
            }

          } else if (estado == "Confirmada"){
            //habilitar solo al usuario staff
            if (tipo_usuario== "staff") {

              // Crear un nuevo elemento <a> para iniciar cita  
              const newLinkIniciarOriconf = document.createElement("a");
              newLinkIniciarOriconf.className = "btn btn-primary mt-2";
              newLinkIniciarOriconf.id = "iniciar_cita_orientacion";
              newLinkIniciarOriconf.style = "color: white;";
              newLinkIniciarOriconf.href = '/iniciarCitaOrientacionAcademica/'+ id_cita; // Agrega aquí la URL deseada
              newLinkIniciarOriconf.title = "Iniciar Cita";

              // Crear un nuevo elemento <i> para el icono
              const newIconIniciarOriconf = document.createElement("i");
              newIconIniciarOriconf.className = "bi bi-caret-right-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              newLinkIniciarOriconf.appendChild(newIconIniciarOriconf);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(newLinkIniciarOriconf);

              // Crear un nuevo elemento <a> para cancelar
                const link_cancelar = document.createElement("a");
                link_cancelar.className = "btn btn-primary mt-2";
                link_cancelar.id = "cancelar_ori_academica";
                link_cancelar.style = "color: white;";
                link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
                link_cancelar.title = "Cancelar";
  
                // Crear un nuevo elemento <i> para el icono
                const icon_cancelar = document.createElement("i");
                icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                link_cancelar.appendChild(icon_cancelar);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(link_cancelar);

                link_cancelar.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = link_cancelar.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });  

            } else {// Crear un nuevo elemento <a> para cancelar
              const link_cancelar = document.createElement("a");
              link_cancelar.className = "btn btn-primary mt-2";
              link_cancelar.id = "cancelar_ori_academica";
              link_cancelar.style = "color: white;";
              link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
              link_cancelar.title = "Cancelar";

              // Crear un nuevo elemento <i> para el icono
              const icon_cancelar = document.createElement("i");
              icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              link_cancelar.appendChild(icon_cancelar);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(link_cancelar);

              link_cancelar.addEventListener('click', function (event) {
                event.preventDefault();
                // Obtener la URL del atributo "data-url" del elemento <a>
                var url = link_cancelar.getAttribute("data-url");
                // Obtener el elemento modal
                var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function (data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);
                    // Mostrar el modal
                    modal.modal('show');
                });
              });  
            }
          } else if (estado == "Rechazada"){
            //habilitar solo al usuario normal
            if (tipo_usuario== "normal"){
              // Crear un nuevo elemento <a> para editar
              const linkmodificarOrie = document.createElement("a");
              linkmodificarOrie.className = "btn btn-primary mt-2";
              linkmodificarOrie.id = "editar_ori_academica";
              linkmodificarOrie.href = '/modificarCitaOriAcademica/'+ id_cita; // Agrega aquí la URL deseada
              linkmodificarOrie.title = "Editar";

              // Crear un nuevo elemento <i> para el icono
              const iconrmodificarori = document.createElement("i");
              iconrmodificarori.className = "bi bi-pencil-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
                linkmodificarOrie.appendChild(iconrmodificarori);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(linkmodificarOrie);

              // Crear un nuevo elemento <a> para cancelar
                const link_cancelar = document.createElement("a");
                link_cancelar.className = "btn btn-primary mt-2";
                link_cancelar.id = "cancelar_ori_academica";
                link_cancelar.style = "color: white;";
                link_cancelar.setAttribute("data-url",'/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
                link_cancelar.title = "Cancelar";
  
                // Crear un nuevo elemento <i> para el icono
                const icon_cancelar = document.createElement("i");
                icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                link_cancelar.appendChild(icon_cancelar);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(link_cancelar);

                link_cancelar.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = link_cancelar.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });  

            }
          }

        }

        if (tipo == 'Tutoría'){

          if (estado == "Pendiente") {
             //habilitar solo al usuario normal
            if (tipo_usuario== "normal"){
              // Crear un nuevo elemento <a> para editar
              const link = document.createElement("a");
              link.className = "btn btn-primary mt-2";
              link.id = "editar_tutoria";
              link.href = '/modificarCitaTutoria/'+ id_cita; // Agrega aquí la URL deseada
              link.title = "Editar";

              // Crear un nuevo elemento <i> para el icono
              const icon = document.createElement("i");
              icon.className = "bi bi-pencil-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              link.appendChild(icon);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(link);

              // Crear un nuevo elemento <a> para cancelar
              const link_cancelar = document.createElement("a");
              link_cancelar.className = "btn btn-primary mt-2";
              link_cancelar.id = "cancelar_tutoria";
              link_cancelar.style = "color: white;";
              link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
              link_cancelar.title = "Cancelar";

              // Crear un nuevo elemento <i> para el icono
              const icon_cancelar = document.createElement("i");
              icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              link_cancelar.appendChild(icon_cancelar);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(link_cancelar);

              link_cancelar.addEventListener('click', function (event) {
                event.preventDefault();
                // Obtener la URL del atributo "data-url" del elemento <a>
                var url = link_cancelar.getAttribute("data-url");
                // Obtener el elemento modal
                var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function (data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);
                    // Mostrar el modal
                    modal.modal('show');
                });
              });  


            } else {
              // Crear un nuevo elemento <a> para confirmar cita  
              const newLinkConfirmartuto = document.createElement("a");
              newLinkConfirmartuto.className = "btn btn-primary mt-2";
              newLinkConfirmartuto.id = "confirmar_cita_tutoria";
              newLinkConfirmartuto.style = "color: white;";
              newLinkConfirmartuto.setAttribute("data-url", '/cita/confirmar/'+ id_cita); // Agrega aquí la URL deseada
              newLinkConfirmartuto.title = "Confirmar Cita";
    
              // Crear un nuevo elemento <i> para el icono
              const newIconConfirmartutoria = document.createElement("i");
              newIconConfirmartutoria.className = "bi bi-calendar-check"; // Clase para el icono 

              // Agregar el icono al elemento <a>
                newLinkConfirmartuto.appendChild(newIconConfirmartutoria);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(newLinkConfirmartuto);

              newLinkConfirmartuto.addEventListener('click', function (event) {
                event.preventDefault();
                // Obtener la URL del atributo "data-url" del elemento <a>
                var url = newLinkConfirmartuto.getAttribute("data-url");
                // Obtener el elemento modal
                var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function (data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);
                    // Mostrar el modal
                    modal.modal('show');
                });
              });  


              // Crear un nuevo elemento <a> para rechazar cita  
                const newLinkRechazartutoria = document.createElement("a");
                newLinkRechazartutoria.className = "btn btn-primary mt-2";
                newLinkRechazartutoria.id = "rechazar_cita_tutoria";
                newLinkRechazartutoria.style = "color: white;";
                newLinkRechazartutoria.setAttribute("data-url", '/cita/rechazar/'+ id_cita); // Agrega aquí la URL deseada
                newLinkRechazartutoria.title = "Rechazar Cita";
      
                // Crear un nuevo elemento <i> para el icono
                const newIconRechazartutoria = document.createElement("i");
                newIconRechazartutoria.className = "bi bi-box-arrow-left"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                newLinkRechazartutoria.appendChild(newIconRechazartutoria);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(newLinkRechazartutoria);

                newLinkRechazartutoria.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = newLinkRechazartutoria.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });     
            }

          } else if (estado == "Confirmada"){
            //habilitar solo al usuario staff
            if (tipo_usuario== "staff") {
              // Crear un nuevo elemento <a> para iniciar cita  
              const newLinkIniciarOriconf = document.createElement("a");
              newLinkIniciarOriconf.className = "btn btn-primary mt-2";
              newLinkIniciarOriconf.id = "iniciar_cita_tutoria";
              newLinkIniciarOriconf.href = '/iniciarCitaTutoria/'+ id_cita; // Agrega aquí la URL deseada
              newLinkIniciarOriconf.title = "Iniciar Cita";

              // Crear un nuevo elemento <i> para el icono
              const newIconIniciarOriconf = document.createElement("i");
              newIconIniciarOriconf.className = "bi bi-caret-right-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
              newLinkIniciarOriconf.appendChild(newIconIniciarOriconf);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(newLinkIniciarOriconf);

              // Crear un nuevo elemento <a> para cancelar
                const link_cancelar = document.createElement("a");
                link_cancelar.className = "btn btn-primary mt-2";
                link_cancelar.id = "cancelar_tutoria";
                link_cancelar.style = "color: white;";
                link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
                link_cancelar.title = "Cancelar";
  
                // Crear un nuevo elemento <i> para el icono
                const icon_cancelar = document.createElement("i");
                icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                link_cancelar.appendChild(icon_cancelar);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(link_cancelar);

                link_cancelar.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = link_cancelar.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });  

            } else {
              // Crear un nuevo elemento <a> para cancelar
                const link_cancelar = document.createElement("a");
                link_cancelar.className = "btn btn-primary mt-2";
                link_cancelar.id = "cancelar_tutoria";
                link_cancelar.style = "color: white;";
                link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
                link_cancelar.title = "Cancelar";
  
                // Crear un nuevo elemento <i> para el icono
                const icon_cancelar = document.createElement("i");
                icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                link_cancelar.appendChild(icon_cancelar);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(link_cancelar);

                link_cancelar.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = link_cancelar.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });  

            }
          } else if (estado == "Rechazada"){
            //habilitar solo al usuario normal
            if (tipo_usuario== "normal"){
              // Crear un nuevo elemento <a> para editar
              const linkrechtuto = document.createElement("a");
              linkrechtuto.className = "btn btn-primary mt-2";
              linkrechtuto.id = "editar_tutoria";
              linkrechtuto.style = "color: white;";
              linkrechtuto.href = '/modificarCitaTutoria/'+ id_cita; // Agrega aquí la URL deseada
              linkrechtuto.title = "Editar";

              // Crear un nuevo elemento <i> para el icono
              const iconrechatuto = document.createElement("i");
              iconrechatuto.className = "bi bi-pencil-fill"; // Clase para el icono 

              // Agregar el icono al elemento <a>
                linkrechtuto.appendChild(iconrechatuto);

              // Agregar el nuevo elemento <a> al <div>
              container.appendChild(linkrechtuto);

              // Crear un nuevo elemento <a> para cancelar
                const link_cancelar = document.createElement("a");
                link_cancelar.className = "btn btn-primary mt-2";
                link_cancelar.id = "cancelar_tutoria";
                link_cancelar.style = "color: white;";
                link_cancelar.setAttribute("data-url", '/cita/cancelar/'+ id_cita); // Agrega aquí la URL deseada
                link_cancelar.title = "Cancelar";
  
                // Crear un nuevo elemento <i> para el icono
                const icon_cancelar = document.createElement("i");
                icon_cancelar.className = "bi bi-x-circle-fill"; // Clase para el icono 
  
                // Agregar el icono al elemento <a>
                link_cancelar.appendChild(icon_cancelar);
  
                // Agregar el nuevo elemento <a> al <div>
                container.appendChild(link_cancelar);

                link_cancelar.addEventListener('click', function (event) {
                  event.preventDefault();
                  // Obtener la URL del atributo "data-url" del elemento <a>
                  var url = link_cancelar.getAttribute("data-url");
                  // Obtener el elemento modal
                  var modal = $('#modalAccionesEvents'); // Asegúrate de que modal exista en tu HTML
                  // Realizar una solicitud AJAX para cargar el contenido
                  $.get(url, function (data) {
                      // Insertar el contenido en el elemento con la clase "modal-dialog"
                      modal.find('.modal-dialog').html(data);
                      // Mostrar el modal
                      modal.modal('show');
                  });
                });  

            }
          }
        }
        // Abrir el modal
        modal.style.display = 'block'
        //calendar.unselect()
      }

      

      
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });

      {% comment %} closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      }); {% endcomment %}
  </script>
{% endblock extrascripts %}


{% comment %}probar que en el calendario pueda ver tanto tutoria como orientacion al mismo tiempo (mismo horario){% endcomment %}