{% extends 'base/base.html' %}
{% load static %}
{% block title %}Calendario{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  {% comment %} <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>

  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul> {% endcomment %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            {% comment %}<div class="col-md-3">
                 <div id="external-events">
                    <h4 class="mb-4">Citas activas</h4>
                    {% for event in events %}
                      <div class="fc-event">
                          <h3>{{ event.observacion }}</h3>
                          <p>Inicio: {{ event.datetime_inicio_estimado }}</p>
                          <p>Fin: {{ event.datetime_fin_estimado }}</p>
                      </div>
                    {% empty %}
                      <p>Ninguna Cita activa encontrada...</p>
                    {% endfor %}
                </div> 
            </div>{% endcomment %}
            <div class="col-md-12">

              <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-top: 15px; padding-right: 30px; padding-bottom: 25px;">
                <!-- Elementos a la izquierda -->
                  <div>
                    <i class="bi bi-circle-fill" style="color: rgb(131, 97, 205)"></i> <text style="color: #555555"> Tutoria </text>
                    <i class="bi bi-circle-fill" style="color: rgb(89, 141, 214)"></i> <text style="color: #555555">Orientación Académica</text>
                  </div>
                
                  <!-- Elementos a la derecha -->
                  <div>
                    <i class="bi bi-circle-fill" style="color: #dcd91f;"></i> <text style="color: #555555">Pendiente</text>
                    <i class="bi bi-circle-fill" style="color: #ba0f4e;"></i> <text style="color: #555555">Cancelado</text>
                    <i class="bi bi-circle-fill" style="color: #0cc55c;"></i> <text style="color: #555555">Finalizado</text>
                  </div>
              </div>

            <div id="calendar"></div>
                
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle"> Detalles de Cita</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="fecha">Fecha:</label>
                                <label class="label" id="fecha"></label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="horario">Horario: </label>
                                <label class="label" id="horario"></label>

                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="encargado">Encargado:</label>
                                <label class="label" id="encargado"></label>


                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="solicitante">Solicitante:</label>
                                <label class="label" id="solicitante"></label>


                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="motivo">Motivo:</label>
                                <label class="label" id="motivo"></label>


                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="estado">Estado:</label>
                                <label class="label" id="estado"></label>


                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label for="convocatoria">Convocatoria:</label>
                                <label class="label" id="convocatoria"></label>


                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="facultad">Facultad:</label>
                                <label class="label" id="facultad"></label>

                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="materia">Materia:</label>
                                <label class="label" id="materia"></label>


                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="observacion">Observación:</label>
                                <label class="label" id="observacion"></label>


                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="nro_curso">Nro Curso:</label>
                                <label class="label" id="curso"></label>

                              </div>
                            </div>

                              <div class="row">
                                <div class="col-md-20">
                                  <label class="label" for="tipo">Tipo Cita:</label>
                                  <label class="label" id="tipo"></label>
  
  
                                </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-md-20">
                                <label class="label" for="participantes">Participantes:</label>
                                <ul id="participantes">
                                {% comment %} {% if detalles %}
                                  <ul id="participantes">
                                    {% for value in detalles %}
                                      <li>{{ value.id_participante.nombre|add:' '|title}}{{ value.id_participante.apellido|title }}</li>
                                    {% endfor %}
                                  </ul>
                                {% else %}
                                  <p>Sin participantes...</p>
                                {% endif %} {% endcomment %}
                              </div>
                            </div>
                          </div>
                      </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'calender/main.js' %}"></script>
  {% comment %} usamos este enlace porque no traducia correstamente los botones del header {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
            //right: 'dayGridMonth,list',

          },
          locale: 'es',
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,

          //dias y horas configuraciones
          //division de las horas en filas
          slotDuration: '00:20',
          //formato de las horas en filas
          slotLabelFormat :{
            hour: 'numeric',
            minute: '2-digit',
            omitZeroMinute: true,
            meridiem: 'short'
          },

          //rangos de minimo y maximahora
          slotMinTime: "08:00",
          slotMaxTime: "22:00",
          //iniciar en lunes
          firstDay: 1,
          //sacar domingo
          hiddenDays: [7],
          //scrollTimeReset: false,
          //eventos
          //ste dtermina el alto del cuadrado del evento
          eventMinHeight: 80,
          eventShortHeight: 15,
          //determina si van a estar juntos o escalados, en ste caso estaran juntos
          slotEventOverlap: false,

          allDaySlot: false,
          //cantidad maxima de eventos en un rngo de horarios iguales 
          eventMaxStack: 5,
          //expandRows: true,
          //desplazar los nombres de las fechas al bajar
          stickyHeaderDates: true,

          
          select: function(arg) {
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

          // bangladesh Holidays
          // events: 'bn.bd#holiday@group.v.calendar.google.com',
          eventClick: function(info) {

            //valor = parseInt(arg.event['_def']['extendedProps']['id_cita']);
            var id_cita = info.event.extendedProps.id_cita;
            var horario = info.event.extendedProps.horario;
            var fecha = info.event.extendedProps.fecha;
            var encargado = info.event.extendedProps.encargado;
            //var receptor = info.event.extendedProps.receptor;
            var solicitante = info.event.extendedProps.solicitante;
            var motivo = info.event.extendedProps.motivo;
            var estado = info.event.extendedProps.estado;
            var convocatoria = info.event.extendedProps.convocatoria;
            var facultad = info.event.extendedProps.facultad;
            var materia = info.event.extendedProps.materia;
            var observacion = info.event.extendedProps.observacion;
            var curso = info.event.extendedProps.curso;
            var tipo = info.event.extendedProps.tipo;
            var participantes = info.event.extendedProps.participantes;
            

            // Mostrar el modal con los detalles del evento
            mostrarModal(horario, fecha, encargado, solicitante, motivo, estado, convocatoria, facultad, materia, observacion, curso, tipo, participantes);

          },

          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ events|safe }},

          //cambiamos el color de los cuadros dependiendo si es tutoria u orintacion acadmica
          eventClassNames: function(arg) {
            // Acceder al atributo personalizado del evento
            var tipo = arg.event.extendedProps.tipo_cita;
            var estado = arg.event.extendedProps.estado;    
            var eventClassList = [];

            if (tipo === 'ori_academica' & estado == 'Pendiente') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-yellow');

            } else if (tipo === 'ori_academica' & estado == 'Cancelado') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-red');
            }
            else if (tipo === 'ori_academica' & estado == 'Finalizado') {
              eventClassList.push('event-color-blue');
              eventClassList.push('event-border-color-green');
            }

            else if (tipo === 'tutoria' & estado == 'Cancelado') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-red');
            }
            else if (tipo === 'tutoria' & estado == 'Pendiente') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-yellow');
            }
            else if (tipo === 'tutoria' & estado == 'Finalizado') {
              eventClassList.push('event-color-purple');
              eventClassList.push('event-border-color-green');
            }
      
            // Si no se cumple ninguna condición, no se agrega ninguna clase adicional al evento
            return eventClassList;
          },

          eventDidMount: function(info) {
            var icon = info.event.extendedProps.icon;
            var tipo = info.event.extendedProps.tipo_cita;
            var estado = info.event.extendedProps.estado;    

            if (info.event.extendedProps.icon) {
            }
            else{
              //
              if (calendar.view.type != "dayGridMonth") {

                if (tipo === 'ori_academica' & estado == 'Pendiente') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #dcd91f;'>•</i>");

                } else if (tipo === 'ori_academica' & estado == 'Cancelado') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #ba0f4e;'>•</i>");

                }
                else if (tipo === 'ori_academica' & estado == 'Finalizado') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #0cc55c;'>•</i>");

                }else if (tipo === 'tutoria' & estado == 'Cancelado') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #ba0f4e;'>•</i>");

                }else if (tipo === 'tutoria' & estado == 'Pendiente') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #dcd91f;'>•</i>");

                }else if (tipo === 'tutoria' & estado == 'Finalizado') {

                  $(info.el).find('.fc-event-title').prepend("<i class='largeDot' style='color: #0cc55c;'>•</i>");
                
                }                  
              } //else if (calendar.view.type = "list") {
                //$(info.el).find('.fc-list-event-dot').remove();
                //$(info.el).find('fc-list-event-graphic').prepend("<i class='largeDot' style='color: #0cc55c;'>•</i>");
            }  
              
          },
        });

        
        calendar.render();
      });

      function mostrarModal(horario, fecha, encargado, solicitante, motivo, estado, convocatoria, facultad, materia, observacion, curso, tipo, participantes) {
        // Obtener el modal

        var modal = document.getElementById('eventModal')
          

    
        // Obtener los elementos del modal
        var modalHorario = modal.querySelector('#horario');
        var modalHfecha = modal.querySelector('#fecha');
        var modalencargado = modal.querySelector('#encargado');
        var modalsolicitante = modal.querySelector('#solicitante');
        var modalmotivo = modal.querySelector('#motivo');
        var modalestado = modal.querySelector('#estado');
        var modalconvocatoria = modal.querySelector('#convocatoria');
        var modalfacultad= modal.querySelector('#facultad');
        var modalmateria = modal.querySelector('#materia');
        var modalobservacion = modal.querySelector('#observacion');
        var modalcurso = modal.querySelector('#curso');
        var modaltipo = modal.querySelector('#tipo');
        var modalparticipantes = modal.querySelector('#participantes');
        modalparticipantes.innerHTML = '';

        //var modalDescripcion = modal.querySelector('.modal-body .descripcion');

        if (Array.isArray(participantes) && participantes.length > 0) {
          // El objeto es un array y contiene valores
      
          // Iterar sobre cada valor en el array
          participantes.forEach(function(value) {
            // Crear un elemento de lista y agregarlo a la lista
            //console.log(value)
            var liElement = document.createElement('li');
            liElement.textContent = value["id_participante__nombre"] + " " + value["id_participante__apellido"];
            modalparticipantes.appendChild(liElement);
          });
        } else {
          // El objeto no contiene valores
          // Mostrar un mensaje
          modalparticipantes.textContent = 'Sin participantes...';
        }
    
        // Establecer los valores del modal
        modalHorario.textContent = horario;
        modalHfecha.textContent = fecha;
        modalencargado.textContent = encargado;
        modalsolicitante.textContent = solicitante;
        modalmotivo.textContent = motivo;
        modalestado.textContent = estado;
        modalconvocatoria.textContent = convocatoria;
        modalfacultad.textContent = facultad;
        modalmateria.textContent = materia;
        modalobservacion.textContent = observacion;
        modalcurso.textContent = curso;
        modaltipo.textContent = tipo;
        
        //modalparticipantes= participantes;

    
        // Abrir el modal
        modal.style.display = 'block'
        //calendar.unselect()

      }

      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      {% comment %} closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      }); {% endcomment %}
  </script>
{% endblock extrascripts %}
