{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h5>Actividades académicas Finalizadas</h5>
                <p><b>{{ total_event }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h5>Actividades académicas confirmadas</h5>
                <p><b>{{ running_events.count }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h5>Total Participantes</h5>
                <p><b>10</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon fa fa-star fa-3x"></i>
            <div class="info">
                <h5>Actividades académicas Canceladas</h5>
                <p><b>5</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">

            {% if perms.calendarapp.iniciar_cita %}
                <div>
                    <button type="button" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:tipo_acti_academ' %}" hx-target="#dialog" >
                        Registrar Actividad Académica
                    </button>
                </div>
                <br>
            {% else %}
                <div>
                    <button type="button" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:tipo_cita' %}" hx-target="#dialog" >
                        Registrar Cita
                    </button>
                    
                </div>
                <br>
            {% endif %}

            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            {% comment %} <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 102.281px;">Fecha</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 102.312px;">Dia</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 102.281px;">Horario</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 102.281px;">Estado</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.141px;">Funcionario/Docente</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.141px;">Solicitante</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.312px;">Tipo</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.641px;">Opciones</th> {% endcomment %}
                                            <th >ID</th>
                                            <th >Fecha</th>
                                            <th >Dia</th>
                                            <th >Horario</th>
                                            <th >Estado</th>
                                            <th>Funcionario/Docente</th>
                                            <th >Solicitante</th>
                                            <th>Tipo</th>
                                            <th >Opciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in running_events %}
                                        <tr role="row" class="odd">
                                            {% comment %} <td class="sorting_1">{{ forloop.counter }}</td> {% endcomment %}

                                            <td>
                                                {% if event.id_cita %}
                                                    {{ event.id_cita }}
                                                {% elif event.id_tutoria %}
                                                    {{ event.id_tutoria }}
                                                {% else %}
                                                    {{ event.id_orientacion_academica }}
                                                {% endif %} 
                                            </td>
                                            
                                            <td>
                                                {% if event.id_cita %}

                                                    {% if event.id_cita.datetime_inicio_real %}
                                                        {{ event.id_cita.datetime_inicio_real|date:"d/m/Y" }}
                                                    {% else %}
                                                        {{ event.id_cita.datetime_inicio_estimado|date:"d/m/Y" }}
                                                    {% endif %} 

                                                {% elif event.id_tutoria %}

                                                    {% if event.id_tutoria.datetime_inicio_real %}
                                                        {{ event.id_tutoria.datetime_inicio_real|date:"d/m/Y" }}
                                                    {% else %}
                                                        {{ event.id_tutoria.datetime_inicio_estimado|date:"d/m/Y" }}
                                                    {% endif %} 

                                                {% else %}

                                                    {% if event.id_orientacion_academica.datetime_inicio_real %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_real|date:"d/m/Y" }}
                                                    {% else %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_estimado|date:"d/m/Y" }}
                                                    {% endif %} 

                                                {% endif %} 
                                            </td>
                                            <td>
                                                {% load humanize %}
                                                {% if event.id_cita %}
                                                    {% if event.id_cita.datetime_inicio_real %}
                                                        {{ event.id_cita.datetime_inicio_real|date:'l'|title  }}
                                                    {% else %}
                                                        {{ event.id_cita.datetime_inicio_estimado|date:'l'|title  }}
                                                    {% endif %} 

                                                {% elif event.id_tutoria %}
                                                    {% if event.id_tutoria.datetime_inicio_real %}
                                                        {{ event.id_tutoria.datetime_inicio_real|date:'l'|title  }}
                                                    {% else %}
                                                        {{ event.id_tutoria.datetime_inicio_estimado|date:'l'|title  }}
                                                    {% endif %} 

                                                {% else %}

                                                    {% if event.id_orientacion_academica.datetime_inicio_real %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_real|date:'l'|title  }}
                                                    {% else %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_estimado|date:'l'|title  }}
                                                    {% endif %} 
                                                
                                                {% endif %} 
                                            </td>
                                            <td>
                                                {% if event.id_cita %}
                                                    {% if event.id_cita.datetime_fin_real %}
                                                        {{ event.id_cita.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ event.id_cita.datetime_fin_real|time:"H:i" }}
                                                    {% else %}
                                                        {{ event.id_cita.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ event.id_cita.datetime_fin_estimado|time:"H:i" }}
                                                    {% endif %} 
                                                {% elif event.id_tutoria %}

                                                    {% if event.id_tutoria.datetime_fin_real %}
                                                        {{ event.id_tutoria.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ event.id_tutoria.datetime_fin_real|time:"H:i" }}
                                                    {% else %}
                                                        {{ event.id_tutoria.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ event.id_tutoria.datetime_fin_estimado|time:"H:i" }}
                                                    {% endif %} 

                                                {% else %}

                                                    {% if event.id_orientacion_academica.datetime_fin_real %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ event.id_orientacion_academica.datetime_fin_real|time:"H:i" }}
                                                    {% else %}
                                                        {{ event.id_orientacion_academica.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ event.id_orientacion_academica.datetime_fin_estimado|time:"H:i" }}
                                                     {% endif %} 
                                                
                                                {% endif %}
                                                    
                                            </td>
                                            <td>
                                                {% if event.id_cita %}
                                                    {{ event.id_cita.id_estado_actividad_academica.descripcion_estado_actividad_academica}}

                                                {% elif event.id_tutoria %}
                                                    {{ event.id_tutoria.id_estado_actividad_academica.descripcion_estado_actividad_academica}}

                                                {% else %}
                                                    {{ event.id_orientacion_academica.id_estado_actividad_academica.descripcion_estado_actividad_academica}}
                                                
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if event.id_cita %}
                                                    {{ event.id_cita.id_funcionario_docente_encargado|title}}
                                                
                                                {% elif event.id_tutoria %}
                                                    {{ event.id_tutoria.id_funcionario_docente_encargado|title}}

                                                {% else %}
                                                    {{ event.id_orientacion_academica.id_funcionario_docente_encargado|title}}
                                                
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if event.id_cita %}
                                                    {{ event.id_cita.id_persona_alta.nombre|add:' '|title}}{{ event.id_cita.id_persona_alta.apellido|title}}
                                                {% elif event.id_tutoria %}
                                                    {{ event.id_tutoria.id_persona_alta.nombre|add:' '|title}}{{ event.id_tutoria.id_persona_alta.apellido|title}}

                                                {% else %}
                                                    {{ event.id_orientacion_academica.id_persona_alta.nombre|add:' '|title}}{{ event.id_orientacion_academica.id_persona_alta.apellido|title}}
                                                {% endif %}
                                            </td>

                                            <td>

                                                {% if event.id_cita %}
                                                    {% if event.es_tutoria %}
                                                        Cita tutoría
                                                    {% else %}
                                                        Cita Orientación Académica
                                                    {% endif %} 
                                                {% elif event.id_tutoria %}
                                                    Tutoría
                                                {% else %}
                                                    Orientación Académica                                                
                                                {% endif %}
                                            </td>
                                            
                                            <td>
                                                <div>

                                                    {% if event.id_cita %}

                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary"  hx-target="#dialog" hx-get="{% url 'calendarapp:detalles_cita' id_cita=event.id_cita %}" title="Detalles"> {% comment %} hx-get="{% url 'calendarapp:detalles_cita' id_cita=event.id_cita %}" {% endcomment %}
                                                            <i class="bi bi-eye-fill"></i>
                                                        </button> 
                                                        
                                                        <!-- Button trigger modal -->
                                                        {% if event.id_cita.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Pendiente' and event.es_tutoria  %}
                                                            {% if perms.calendarapp.iniciar_cita %}
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                                <button type="button" class="btn btn-primary" hx-target="#dialog" title="Confirmar Cita" hx-get="{% url 'calendarapp:confirmar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-calendar-check"></i>
                                                            {% else %}
                                                                <a class="btn btn-primary" title="Editar" href="{% url 'calendarapp:modificar_cita_tutoria' pk=event.id_cita.id_actividad_academica %}"> <i class="bi bi-pencil-fill"></i> </a>
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>

                                                            {% endif %}
                                                            
                                                        {% elif event.id_cita.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Confirmado' and event.es_tutoria %}
                                                            {% if perms.calendarapp.iniciar_cita %}
                                                                <a class="btn btn-primary" title="Iniciar Cita" href="{% url 'calendarapp:iniciar_cita_tutoria' pk=event.id_cita.id_actividad_academica %}"> <i class="bi bi-caret-right-fill"></i></a>
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                            {% else %}
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                            {% endif %}

                                                        {% elif event.id_cita.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Pendiente' and event.es_orientacion_academica %}
                                                            {% if perms.calendarapp.iniciar_cita %}
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                                <button type="button" class="btn btn-primary" hx-target="#dialog" title="Confirmar Cita" hx-get="{% url 'calendarapp:confirmar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-calendar-check"></i>
                                                            {% else %}
                                                                <a class="btn btn-primary" title="Editar" href="{% url 'calendarapp:modificar_cita_ori_academica' pk=event.id_cita.id_actividad_academica %}"> <i class="bi bi-pencil-fill"></i> </a>
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                            {% endif %}

                                                        {% elif event.id_cita.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Confirmado' and event.es_orientacion_academica %}
                                                        
                                                            {% if perms.calendarapp.iniciar_cita %}
                                                            <a class="btn btn-primary" title="Iniciar Cita" href="{% url 'calendarapp:iniciar_cita_ori_academ' pk=event.id_cita.id_actividad_academica %}"> <i class="bi bi-caret-right-fill"></i> </a>
                                                            <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                            {% else %}
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_cita' id_cita=event.id_cita.id_actividad_academica %}"> <i class="bi bi-x-circle-fill"></i> </button>
                                                            {% endif %}

                                                        {% comment %} {% else %}
                                                            <button type="button" class="btn btn-primary" disabled> <i class="bi bi-pencil-fill"></i> </button>
                                                            <button type="button" class="btn btn-primary" disabled> <i class="bi bi-x-circle-fill"></i> </button> {% endcomment %}
                                                        {% endif %}

                                                    {% elif event.id_tutoria %}

                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary"  hx-target="#dialog" title="Detalles" hx-get="{% url 'calendarapp:detalles_acti_academ' id_tutoria=event.id_tutoria id_ori_academ=0 %}"> 
                                                            <i class="bi bi-eye-fill"></i>
                                                        </button> 
                                                        
                                                        <!-- Button trigger modal -->
                                                        {% if event.id_tutoria.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Iniciada' %}
                                                            {% if perms.calendarapp.iniciar_cita %}
                                                                <a class="btn btn-primary" title="Editar" href="{% url 'calendarapp:modificar_tutoria' pk=event.id_tutoria %}"> <i class="bi bi-pencil"></i> </a> {% comment %} href="{% url 'calendarapp:modificar_cita_tutoria' pk=event.id_tutoria.id_actividad_academica %}"> {% endcomment %}
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_tutoria=event.id_tutoria id_ori_academ=0 %}"> <i class="bi bi-x-lg"></i> </button> 
                                                                <button type="button" class="btn btn-primary" hx-target="#dialog" title="Finalizar Tutoría" hx-get="{% url 'calendarapp:finalizar_actividad_academica' id_tutoria=event.id_tutoria id_ori_academ=0 %}"> <i class="bi bi-check2"></i> 
                                                            {% endif %}

                                                        {% endif %}

                                                    {% else %}
                                                    
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary"  hx-target="#dialog" title="Detalles" hx-get="{% url 'calendarapp:detalles_acti_academ' id_tutoria=0 id_ori_academ=event.id_orientacion_academica %}"> 
                                                            <i class="bi bi-eye-fill"></i>
                                                        </button> 

                                                        {% if event.id_orientacion_academica.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Iniciada'%} 
                                                            {% if perms.calendarapp.iniciar_cita %}
                                                                <a class="btn btn-primary" title="Editar" href="{% url 'calendarapp:modificar_orientacion' pk=event.id_orientacion_academica %}"> <i class="bi bi-pencil" ></i> </a>{% comment %}  href="{% url 'calendarapp:modificar_cita_ori_academica' pk=event.id_cita.id_actividad_academica %}" {% endcomment %}
                                                                <button type="button" class="btn btn-danger" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_tutoria=0 id_ori_academ=event.id_orientacion_academica %}"> <i class="bi bi-x-lg"></i> </button> 
                                                                <button type="button" class="btn btn-primary" hx-target="#dialog" title="Finalizar Orientación Académica" hx-get="{% url 'calendarapp:finalizar_actividad_academica' id_tutoria=0 id_ori_academ=event.id_orientacion_academica %}" > <i class="bi bi-check2"></i> </button> 
                                                            {% endif %}
                                                        {% endif %}
                                                    
                                                    {% endif %}
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
        },
    });</script>
{% endblock extrascripts %}
