{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="widget-small primary coloured-icon">
                <i class="icon bi bi-check-circle-fill fa-3x"></i>
                <div class="info">
                    <h5>Citas finalizadas</h5>
                    <p><b>{{ citas_finalizadas }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="widget-small info coloured-icon">
                <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                <div class="info">
                    <h5>Citas confirmadas</h5>
                    <p><b>{{ citas_confirmadas }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="widget-small warning coloured-icon">
                <i class="icon bi bi-hourglass-split fa-3x"></i>
                <div class="info">
                    <h5>Citas pendientes</h5>
                    <p><b>{{ citas_pendientes }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="widget-small danger coloured-icon">
                <i class="icon bi bi-x-circle-fill fa-3x"></i>
                <div class="info">
                    <h5>Citas Canceladas</h5>
                    <p><b>{{ citas_canceladas }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="widget-small warning coloured-icon">
                <i class="icon bi bi-hourglass-bottom fa-3x"></i>
                <div class="info">
                    <h5>Citas Vencidas</h5>
                    <p><b>{{ citas_vencidas }}</b></p>
                </div>
            </div>
        </div>
    <div class="col-md-12">
        <div class="tile">

            {% if perms.calendarapp.iniciar_cita %}
                <div>
                    <button type="button" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:tipo_acti_academ' %}" hx-target="#dialog" >
                        Registrar Actividad Académica
                    </button>
                </div>
                <br>
            {% else %}
                <div>
                    <button type="button" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:tipo_cita' %}" hx-target="#dialog" >
                        Registrar Cita
                    </button>
                    
                </div>
                <br>
            {% endif %}

            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="tblEvents" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            {% comment %} <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 102.281px;">Fecha</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 102.312px;">Dia</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 102.281px;">Horario</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 102.281px;">Estado</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.141px;">Funcionario/Docente</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.141px;">Solicitante</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.312px;">Tipo</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.641px;">Opciones</th> {% endcomment %}
                                            <th >ID</th>
                                            <th >Fecha</th>
                                            <th >Dia</th>
                                            <th >Horario</th>
                                            <th >Estado</th>
                                            <th>Funcionario/Docente</th>
                                            <th >Solicitante</th>
                                            <th>Tipo</th>
                                            <th >Opciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modalEvent" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document"> 
            
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
<link rel="stylesheet" href="{% static 'lib_extras/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib_extras/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib_extras/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
 <!-- Jquery Confirm -->
 <link rel="stylesheet" href="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
 <script src="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
 <!-- Functions -->
 <script src="{% static 'js/functions.js' %}"></script>

    <script> 

        var tblEvents;
        var lista_eventos = {{ running_events|safe }}
        var id_solicitante= {{ request.user.id_persona.id }}

        $(document).ready(function() {

            tblEvents = $('#tblEvents').DataTable({
                responsive: true,
                //scrollX: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                data: lista_eventos,
                columns: [
                    {"data": "id"},
                    {"data": "fecha"},
                    {"data": "dia"},
                    {"data": "horario"},
                    {"data": "estado"},
                    {"data": "encargado"},
                    {"data": "solicitante"},
                    {"data": "tipo"},
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if ((row.tipo == 'Cita Tutoría') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'staff' )){
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="confirmar"  class="btn btn-primary" style="color: white;"  title="Confirmar Cita" value="/cita/confirmar/' + row.id + '"> <i class="bi bi-calendar-check"></i> </a> <a rel="rechazar"  class="btn btn-danger" style="color: white;" title="Rechazar Cita" value="/cita/rechazar/' + row.id + '"> <i class="bi bi-box-arrow-left"></i> </a>';
                            } else if ((row.tipo == 'Cita Tutoría') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'normal' ) && row.id_solicitante == id_solicitante) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="editar" class="btn btn-primary" style="color: white;"title="Editar"  href="/modificarCitaTutoria/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Cita Tutoría') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'staff' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;"title="Iniciar Cita" href="/iniciarCitaTutoria/' + row.id + '"> <i class="bi bi-caret-right-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>'; 
                            } else if ((row.tipo == 'Cita Tutoría') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'normal' ) && row.id_solicitante == id_solicitante) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles">  <i class="bi bi-eye-fill"></i> </a> <a rel="cancelar" class="btn btn-danger" style="color: white;"  title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Cita Tutoría') && (row.estado == 'Rechazada' ) &&  (row.tipo_usuario == 'normal' ) && row.id_solicitante == id_solicitante) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i rel="editar" class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;"title="Reagendar" href="/modificarCitaTutoria/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            }
                            else if (row.tipo == 'Cita Tutoría') {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a>';
                            } 
                            
                            else if ((row.tipo == 'Cita Orientación Académica') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'staff' )){
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="confirmar"  class="btn btn-primary" style="color: white;"  title="Confirmar Cita" value="/cita/confirmar/' + row.id + '"> <i class="bi bi-calendar-check"></i> </a> <a rel="rechazar"  class="btn btn-danger" style="color: white;" title="Rechazar Cita" value="/cita/rechazar/' + row.id + '"> <i class="bi bi-box-arrow-left"></i> </a>';
                            } else if ((row.tipo == 'Cita Orientación Académica') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'normal' ) && row.id_solicitante == id_solicitante) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;"title="Editar" href="/modificarCitaOriAcademica/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Cita Orientación Académica') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'staff' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i>  </a> <a class="btn btn-primary" style="color: white;"title="Iniciar Cita" href="/iniciarCitaOrientacionAcademica/' + row.id + '"> <i class="bi bi-caret-right-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>'; 
                            } else if ((row.tipo == 'Cita Orientación Académica') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'normal' ) && row.id_solicitante == id_solicitante) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i>  </a> <a rel="cancelar" class="btn btn-danger" style="color: white;"  title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Cita Orientación Académica') && (row.estado == 'Rechazada' ) &&  (row.tipo_usuario == 'normal' ) && row.id_solicitante == id_solicitante) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;"title="Reagendar" href="/modificarCitaOriAcademica/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            }
                            else if (row.tipo == 'Cita Orientación Académica') {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i> </a>';
                            } 

                            else if ((row.tipo == 'Tutoría') && (row.estado == 'Iniciada' ) &&  (row.tipo_usuario == 'staff' )){
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesActiAcademicas/' + row.id + '/0" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;" title="Editar" href="/modificarTutoria/' + row.id + '"> <i class="bi bi-pencil"></i> </a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar" value="/actividad_academica/cancelar/' + row.id + '/0"> <i class="bi bi-x-lg"></i> </a> <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar Tutoría" value="/actividad_academica/finalizar/' + row.id + '/0"> <i class="bi bi-check2"></i> </a>';
                            } else if ((row.tipo == 'Tutoría') && (row.estado == 'Iniciada' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesActiAcademicas/' + row.id + '/0" title="Detalles"> <i class="bi bi-eye-fill"></i> </a>';
                            } 
                            else if (row.tipo == 'Tutoría') {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesActiAcademicas/' + row.id + '/0" title="Detalles"> <i class="bi bi-eye-fill"></i> </a>';
                            } 
                            
                            else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Iniciada' ) &&  (row.tipo_usuario == 'staff' )){
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesActiAcademicas/0/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;" title="Editar" href="/modificarOrientacion/' + row.id + '"> <i class="bi bi-pencil"></i> </a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar" value="/actividad_academica/cancelar/0/' + row.id + '"> <i class="bi bi-x-lg"></i> </a> <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar Orientación" value="/actividad_academica/finalizar/0/' + row.id + '"> <i class="bi bi-check2"></i> </a>';
                            } else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Iniciada' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesActiAcademicas/0/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a>';
                            } 
                            else if (row.tipo == 'Orientación Académica') {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesActiAcademicas/0/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i> </a>';
                            } 
                            
                        }
                    
                    }
                
                ],
                order: [] 
            });


            $('#tblEvents').on('click', 'a[rel="detalles"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblEvents').on('click', 'a[rel="cancelar"]', function(event) { 
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    //console.log(data)
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });


            $('#tblEvents').on('click', 'a[rel="finalizar"]', function(event) { 
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    //console.log(data)
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblEvents').on('click', 'a[rel="confirmar"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    //console.log(data)
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });
            
            $('#dashboardMenu').addClass('active');

        });

    </script>

{% endblock extrascripts %}
