{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="bi bi-search"></i>
            {{ title }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-7">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="bi bi-person-rolodex"></i> Datos de la Orientación Académica
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="label texto-destacado">Facultad: </label>
                            {{ orientacion_academica.id_orientacion_academica.id_facultad }}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Departamento: </label>
                            {{ orientacion_academica.id_orientacion_academica.id_departamento.descripcion_departamento }}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado" >Estado:</label>
                            {{ orientacion_academica.id_orientacion_academica.id_estado_actividad_academica.descripcion_estado_actividad_academica }}
                        </div>
                        <div class="form-group">
                            <label class="label texto-destacado" >Convocatoria:</label>
                            {{ orientacion_academica.id_orientacion_academica.id_convocatoria.id_semestre.descripcion_semestre|add:' '|title}}{{ orientacion_academica.id_orientacion_academica.id_convocatoria.anho|title }}
                        </div>
                        <div class="form-group">
                            <label class="label texto-destacado" >Encargado:</label>
                            {{ orientacion_academica.id_orientacion_academica.id_funcionario_docente_encargado.nombre|add:' '|title}}{{ orientacion_academica.id_orientacion_academica.id_funcionario_docente_encargado|title }} 
                        </div>

                        <div class="form-group">
                        <label class="label texto-destacado">Solicitante:</label>
                            {% if orientacion_academica.id_orientacion_academica.id_persona_alta %}
                                {{ orientacion_academica.id_orientacion_academica.id_persona_alta.nombre|add:' '|title}}{{ orientacion_academica.id_orientacion_academica.id_persona_alta.apellido|title }} 
                            {% else %}
                                ----------
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Fecha de alta:</label>
                            {{ orientacion_academica.id_orientacion_academica.datetime_registro|date:"d/m/Y" }}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado" >Fecha estimada:</label>

                            {% if orientacion_academica.id_orientacion_academica.datetime_inicio_estimado %}
                                {{ orientacion_academica.id_orientacion_academica.datetime_inicio_estimado|date:"d/m/Y"|add:' ' }}{{ orientacion_academica.id_orientacion_academica.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ orientacion_academica.id_orientacion_academica.datetime_fin_estimado|time:"H:i" }}
                            {% else %}
                                ----------
                            {% endif %} 
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Fecha real:</label>
                            {% if orientacion_academica.id_orientacion_academica.datetime_fin_real %}
                            {{ orientacion_academica.id_orientacion_academica.datetime_inicio_real|date:"d/m/Y"|add:' ' }}{{ orientacion_academica.id_orientacion_academica.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ orientacion_academica.id_orientacion_academica.datetime_fin_real|time:"H:i" }}
                            {% else %}
                                ----------
                            {% endif %} 

                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado" >Materia:</label>
                            {% if orientacion_academica.id_orientacion_academica.id_materia %}
                                {{ orientacion_academica.id_orientacion_academica.id_materia.descripcion_materia|title}}
                            {% else %}
                                ----------
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="label texto-destacado">Nro. Curso: </label>
                                {% if orientacion_academica.id_orientacion_academica.nro_curso %}
                                    {{ orientacion_academica.id_orientacion_academica.nro_curso|title}}
                                {% else %}
                                    ----------
                                {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Observación:</label>
                            {% if orientacion_academica.id_orientacion_academica.observacion %}
                                {{ orientacion_academica.id_orientacion_academica.observacion|title}}
                            {% else %}
                                ----------
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Tipo Orientación Académica: </label>
                                {{ orientacion_academica.id_tipo_orientacion_academica.descripcion_tipo_orientacion_academica|title}}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Motivo:</label>
                                {{ orientacion_academica.id_motivo.descripcion_motivo }}
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="bi bi-people"></i> Participantes adicionales</h3>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-bordered" id="tblParticipantes">
                            <thead>
                            <tr>
                                <th>Participante</th>
                                <th>Documento</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if participantes.exists %}
                                    {% for event in participantes %}
                                        <tr role="row" class="odd">
                                            <td>{{ event.id_participante.nombre|title|add:' ' }}{{ event.id_participante.apellido|title }} </td> 
                                            <td> {{ event.id_participante.documento }} </td> 
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        {% if participantes.exists == False %}
                            <label> Sin participantes... </label> 
                        {% endif %} 
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="bi bi-journal-text"></i> Tareas</h3>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-bordered" id="tblTareas">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Inicio</th>
                                <th>Vencimiento</th>
                                <th>Responsable</th>
                                <th>Tipo Tarea</th>
                                <th>Estado</th>
                                <th>Observación</th>
                                <th>Opción</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% if orientacion_academica.id_orientacion_academica.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Iniciada' %}
        <div class="card-footer">
            <button type="button" class="btn btn-danger btn-flat" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_tutoria=0 id_ori_academ=orientacion_academica.id_orientacion_academica %}" > <i class="bi bi-x-lg"></i> Cancelar Orientación Académica </button> 
            <button type="button" class="btn btn-primary btn-flat" hx-target="#dialog" title="Finalizar" hx-get="{% url 'calendarapp:finalizar_actividad_academica' id_tutoria=0 id_ori_academ=orientacion_academica.id_orientacion_academica %}"> <i class="bi bi-check-lg"></i> Finalizar Orientación Académica </button> 
            <a type="button" class="btn btn-primary btn-flat" hx-target="#dialog" title="Editar" href="{% url 'calendarapp:modificar_orientacion' pk=orientacion_academica.id_orientacion_academica %}"> <i class="bi bi-pencil"></i> Editar Orientación Académica </a>
        </div>
    {% endif %}

   
</div>

{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Jquery Confirm -->
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
    <!-- Functions -->
    <script src="{% static 'js/functions.js' %}"></script>

    <script>

        var tblTareas;
        var lista_tarea = {{ tareas|safe }}

        $(document).ready(function() {

            function format(t) {
                var html = '<table class="table">';
                html += '<thead>';
                html += '<tr><th scope="col">Finalizado por</th>';
                html += '<th scope="col">Registrado por</th>';
                html += '<th scope="col">Fecha alta</th>';
                html += '<th scope="col">Fecha Inicio real</th>';
                html += '<th scope="col">Fecha Fin real</th>';
                html += '<th scope="col">Ultima modificación</th></tr>';
                html += '</thead>';
                html += '<tbody>';
                    html+='<tr>'
                    html+='<td>'+t.persona_finalizacion+'</td>'
                    html+='<td>'+t.persona_alta+'</td>'
                    html+='<td>'+t.datetime_alta+'</td>'
                    html+='<td>'+t.datetime_inicio_real+'</td>'
                    html+='<td>'+t.datetime_finalizacion+'</td>'
                    html+='<td>'+t.datetime_ultima_modificacion+'</td>'
                    html+='</tr>';
                html += '</tbody>';
                return html;
            }

            tblTareas = $('#tblTareas').DataTable({
                responsive: true,
                //scrollX: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                data: lista_tarea,
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {"data": "datetime_inicio_estimado"},
                    {"data": "datetime_vencimiento"},
                    {"data": "persona_responsable"},
                    {"data": "tipo_tarea"},
                    {"data": "estado_tarea"},
                    {"data": "observacion"},
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if (row.estado_tarea === "Pendiente"){
                                return '<a rel="iniciar" type="button" class="btn btn-primary" style="color: white;" title="Iniciar tarea" value="/tarea/iniciar/' + row.id_tarea + '/"><i class="bi bi-caret-right-fill"></i></a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>';
                            } else if (row.estado_tarea === "Iniciada"){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>  <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar tarea" value="/tarea/finalizar/' + row.id_tarea + '/"><i class="bi bi-check2"></i></a>'; 
                            } else {
                                return '';
                            }
                    }
                }                
                ]
            });

            $('#tblTareas tbody')
                .on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = tblTareas.row(tr);
                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                })

                .on('click', 'a[rel="iniciar"]', function () {
                    var parameters= new FormData()
                    var iniciar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                    submit_with_ajax(iniciar_link, 'Notificación', '¿Estás seguro de iniciar la tarea?',  parameters, function () {
                        location.href = window.location.pathname;
                    });
                })

                .on('click', 'a[rel="cancelar"]', function () {
                    var parameters= new FormData()
                    var cancelar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                    submit_with_ajax(cancelar_link, 'Notificación', '¿Estás seguro de cancelar la tarea?',  parameters, function () {
                        location.href = window.location.pathname;
                    });
                })

                .on('click', 'a[rel="finalizar"]', function () {
                    var parameters= new FormData()
                    var finalizar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                    submit_with_ajax(finalizar_link, 'Notificación', '¿Estás seguro de finalizar la tarea?',  parameters, function () {
                        location.href = window.location.pathname;
                    });
                });

        });

    </script>

{% endblock extrascripts %}
