{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="bi bi-search"></i>
            {{ title }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-7">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="bi bi-person-video3"></i> Datos de la Tutoría
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="label texto-destacado">Facultad: </label>
                            {{ tutoria.id_tutoria.id_facultad }}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Departamento: </label>
                            {{ tutoria.id_tutoria.id_departamento.descripcion_departamento }}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado" >Estado:</label>
                            {{ tutoria.id_tutoria.id_estado_actividad_academica.descripcion_estado_actividad_academica }}
                        </div>
                        <div class="form-group">
                            <label class="label texto-destacado" >Convocatoria:</label>
                            {{ tutoria.id_tutoria.id_convocatoria.id_semestre.descripcion_semestre|add:' '|title}}{{ tutoria.id_tutoria.id_convocatoria.anho|title }}
                        </div>
                        <div class="form-group">
                            <label class="label texto-destacado" >Encargado:</label>
                            {{ tutoria.id_tutoria.id_funcionario_docente_encargado.nombre|add:' '|title}}{{ tutoria.id_tutoria.id_funcionario_docente_encargado|title }} 
                        </div>

                        <div class="form-group">
                        <label class="label texto-destacado">Solicitante:</label>
                            {% if tutoria.id_tutoria.id_persona_alta %}
                                {{ tutoria.id_tutoria.id_persona_solicitante.nombre|add:' '|title}}{{ tutoria.id_tutoria.id_persona_solicitante.apellido|title }} 
                            {% else %}
                                ----------
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Fecha de alta:</label>
                            {{ tutoria.id_tutoria.datetime_registro|date:"d/m/Y"|add:' ' }}{{ tutoria.id_tutoria.datetime_registro|time:"H:i" }}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado" >Fecha de inicio y fin estimado:</label>

                            {% if tutoria.id_tutoria.datetime_inicio_estimado %}
                                {{ tutoria.id_tutoria.datetime_inicio_estimado|date:"d/m/Y"|add:' ' }}{{ tutoria.id_tutoria.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ tutoria.id_tutoria.datetime_fin_estimado|date:"d/m/Y"|add:' ' }}{{ tutoria.id_tutoria.datetime_fin_estimado|time:"H:i" }}
                            {% else %}
                                ----------
                            {% endif %} 
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Fecha de inicio y fin real:</label>
                            {% if tutoria.id_tutoria.datetime_fin_real %}
                            {{ tutoria.id_tutoria.datetime_inicio_real|date:"d/m/Y"|add:' ' }}{{ tutoria.id_tutoria.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ tutoria.id_tutoria.datetime_fin_real|date:"d/m/Y"|add:' ' }}{{ tutoria.id_tutoria.datetime_fin_real|time:"H:i" }}
                            {% else %}
                                ----------
                            {% endif %} 

                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado" >Materia:</label>
                            {% if tutoria.id_tutoria.id_materia %}
                                {{ tutoria.id_tutoria.id_materia.descripcion_materia|title}}
                            {% else %}
                                ----------
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Motivo:</label>
                            {% if tutoria.motivo %}
                                {{ tutoria.motivo|title}}
                            {% else %}
                                ----------
                            {% endif %}
                        </div>

                        
                        <div class="form-group">
                            <label class="label texto-destacado">Nro. Curso: </label>
                                {% if tutoria.id_tutoria.nro_curso %}
                                    {{ tutoria.id_tutoria.nro_curso|title}}
                                {% else %}
                                    ----------
                                {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="label texto-destacado">Observación:</label>
                            {% if tutoria.id_tutoria.observacion %}
                                {{ tutoria.id_tutoria.observacion|title}}
                            {% else %}
                                ----------
                            {% endif %}
                        </div>

                        {% if tutoria.motivo_cancelacion %}
                            <div class="form-group">
                                <label class="label texto-destacado">Motivo de Cancelación: </label>
                                    {{ tutoria.motivo_cancelacion|title}}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="label texto-destacado">Última persona que modifico: </label>
                                {{ tutoria.id_tutoria.id_persona_ultima_modificacion.nombre|add:' '|title}}{{ tutoria.id_tutoria.id_persona_ultima_modificacion.apellido|title }}
                        </div>


                        {% if tutoria.id_tipo_tutoria %}
                            <div class="form-group">
                                <label class="label texto-destacado">Tipo Tutoría: </label>
                                    {{ tutoria.id_tipo_tutoria.descripcion_tipo_tutoria|title}}
                            </div>
                        {% endif %}

                        {% if tutoria.nombre_trabajo %}
                            <div class="form-group">
                                <label class="label texto-destacado">Nombre Trabajo: </label>
                                    {{ tutoria.nombre_trabajo|title}}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="bi bi-people"></i> Participantes adicionales</h3>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-bordered" id="tblParticipantes">
                            <thead>
                            <tr>
                                <th>Participante</th>
                                <th>Documento</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if participantes.exists %}
                                    {% for event in participantes %}
                                        <tr role="row" class="odd">
                                            <td>{{ event.id_participante.nombre|title|add:' ' }}{{ event.id_participante.apellido|title }} </td> 
                                            <td> {{ event.id_participante.documento }} </td> 
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        {% if participantes.exists == False %}
                            <label> Sin participantes... </label> 
                        {% endif %} 
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="bi bi-journal-text"></i> Tareas</h3>
                    </div>
                    <div class="card-body">

                        <div class="tile">
                            <div>
                                {% if perms.calendarapp.iniciar_cita %}
                                    <button type="button" class="btn btn-primary btn-flat btnRegistrarTarea" title="Añadir Tarea">
                                        <i class="bi bi-plus-lg"></i> Agregar Tarea
                                    </button>
                                {% endif %}
                            </div>
                            <br>
                                <table class="table table-bordered" id="tblTareas">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Inicio</th>
                                        <th>Vencimiento</th>
                                        <th>Responsable</th>
                                        <th>Tipo Tarea</th>
                                        <th>Estado</th>
                                        <th>Observación</th>
                                        <th>Opción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% if perms.calendarapp.iniciar_cita %}
        {% if tutoria.id_tutoria.id_estado_actividad_academica.descripcion_estado_actividad_academica == 'Iniciada' %}
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-flat" hx-target="#dialog" title="Cancelar" hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_tutoria=tutoria.id_tutoria id_ori_academ=0 %}" > <i class="bi bi-x-lg"></i> Cancelar Tutoría </button> {% comment %} hx-get="{% url 'calendarapp:cancelar_actividad_academica' id_cita=cita.id_cita %}" {% endcomment %}
                <button type="button" class="btn btn-primary btn-flat" hx-target="#dialog" title="Finalizar" hx-get="{% url 'calendarapp:finalizar_actividad_academica' id_tutoria=tutoria.id_tutoria id_ori_academ=0 %}"> <i class="bi bi-check-lg"></i> Finalizar Tutoría </button> 
                <a class="btn btn-primary btn-flat" title="Editar" href="{% url 'calendarapp:modificar_tutoria' pk=tutoria.id_tutoria %}"> <i class="bi bi-pencil" ></i> Editar Tutoría </a> 
            </div>
        {% endif %}
    {% endif %}

    <div id="modaltareas" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document"> 
            <div class="modal-content">
                <div class='modal-header text-center'>
                    <h3 class="modal-title w-100"> Crear Tarea</h3> 
                    <button id="modalClose2" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group">
                            <label class="label" for="hora_inicio_tarea">Inicio</label> 
                                <input type="datetime-local" class="form-control" id="hora_inicio_tarea" name="hora_inicio_tarea">
                                <a href="#" id="ahora_inicio_tarea">  Ahora </a>
                        </div>
        
                        <div class="form-group">
                            <label class="label" for="hora_fin_tarea">Fin</label>
                                <input type="datetime-local" class="form-control" id="hora_fin_tarea" name="hora_fin_tarea">
                                <a href="#" id="ahora_fin_tarea">  Ahora </a>
                        </div>
                    
                        <div class="form-group">
                            <label class="label" for="id_responsable_tarea">Responsable</label>
                            <select name="id_responsable_tarea" class="form-control select2 select2-hidden-accessible" style="width: 100%" id="id_id_responsable_tarea" data-select2-id="id_id_responsable_tarea" tabindex="-1" aria-hidden="true"></select>
                        </div>

                        <div class="form-group">
                            <label class="label" for="id_tipo_tarea">Tipo de Tarea</label>
                            <select name="id_tipo_tarea" class="form-control select2 select2-hidden-accessible" style="width: 100%" id="id_id_tipo_tarea" data-select2-id="id_id_tipo_tarea" tabindex="-1" aria-hidden="true"></select>
                        </div>

                        <div class="form-group">
                            <label class="label" for="id_tipo_tarea">Estado de Tarea</label>
                            <select name="id_estado_tarea" class="form-control select2 select2-hidden-accessible" style="width: 100%" id="id_id_estado_tarea" data-select2-id="id_id_estado_tarea" tabindex="-1" aria-hidden="true"></select>
                        </div>
            
                        <div class="form-group">
                            <label class="label" for="observacion_tarea">Observación</label>
                            <textarea placeholder= "Desea agregar algún comentario adicional?..." class="form-control" rows="3" cols="25" name="observacion_tarea" maxlength="500"></textarea>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalClose1"> Cancelar</button>
                            <button type="button" class="btn btn-primary" id="modalguardar"> Guardar</button>
                        </div>  

                    </div>       
                </div>  
            </div>
        </div>
    </div>

    <div id="modalEvent" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document"> 
            
        </div>
    </div>
   
</div>

{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib_extras/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib_extras/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib_extras/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <link href="{% static 'lib_extras/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib_extras/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib_extras/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib_extras/select2-4.0.13/js/i18n/es.js' %}"></script>
    
    <!-- Jquery Confirm -->
    <link rel="stylesheet" href="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
    <!-- Functions -->
    <script src="{% static 'js/functions.js' %}"></script>

    <script>
        var staff= {{ request.user.is_staff|lower }}
        var ahoraInicioLinkTarea = document.getElementById("ahora_inicio_tarea");
        var horaInicioInputTarea = document.getElementById("hora_inicio_tarea");
        var ahoraFinLinkTarea = document.getElementById("ahora_fin_tarea");
        var horaFinInputTarea = document.getElementById("hora_fin_tarea");
    
        var modal = document.getElementById('modaltareas')
        const cerrarmodal = document.getElementById('modalClose1');
        const cerrarmodal2 = document.getElementById('modalClose2');
        const guardarmodal = document.getElementById('modalguardar');
        var id_tutoria= {{ tutoria.id_tutoria }}

        var tblTareas;
        var lista_tarea = {{ tareas|safe }}

        $(document).ready(function() {

            function format(t) {
                var html = '<table class="table">';
                html += '<thead>';
                html += '<tr><th scope="col">Finalizada por</th>';
                html += '<th scope="col">Registrado por</th>';
                html += '<th scope="col">Fecha alta</th>';
                html += '<th scope="col">Fecha Inicio real</th>';
                html += '<th scope="col">Fecha Fin real</th>';
                html += '<th scope="col">Ultima modificación</th></tr>';
                html += '</thead>';
                html += '<tbody>';
                    html+='<tr>'
                    html+='<td>'+t.persona_finalizacion+'</td>'
                    html+='<td>'+t.persona_alta+'</td>'
                    html+='<td>'+t.datetime_alta+'</td>'
                    html+='<td>'+t.datetime_inicio_real+'</td>'
                    html+='<td>'+t.datetime_finalizacion+'</td>'
                    html+='<td>'+t.datetime_ultima_modificacion+'</td>'
                    html+='</tr>';
                html += '</tbody>';
                return html;
            }

            

            tblTareas = $('#tblTareas').DataTable({
                responsive: true,
                //scrollX: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                data: lista_tarea,
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {"data": "datetime_inicio_estimado"},
                    {"data": "datetime_vencimiento"},
                    {"data": "persona_responsable"},
                    {"data": "tipo_tarea"},
                    {"data": "estado_tarea"},
                    {"data": "observacion"},
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if ((row.estado_tarea == "Pendiente") && (row.id_persona_actual == row.id_persona_responsable )){
                                return '<a rel="iniciar" type="button" class="btn btn-primary" style="color: white;" title="Iniciar tarea" value="/tarea/iniciar/' + row.id_tarea + '/"><i class="bi bi-caret-right-fill"></i></a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>';
                            } else if ((row.estado_tarea == "Pendiente") && (row.id_persona_actual != row.id_persona_responsable ) && (staff == true)){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>';
                            } else if ((row.estado_tarea == "Iniciada") && (row.id_persona_actual == row.id_persona_responsable )){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>  <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar tarea" value="/tarea/finalizar/' + row.id_tarea + '/"><i class="bi bi-check2"></i></a>';
                            } else if ((row.estado_tarea == "Iniciada") && (row.id_persona_actual != row.id_persona_responsable ) && (staff == true)){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a> ';
                            }  else {
                                return '';
                            }
                    }
                }                
                ]
            });

            $('#tblTareas tbody')
                .on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = tblTareas.row(tr);
                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                })

            $('#tblTareas').on('click', 'a[rel="iniciar"]', function(event) {
                // var parameters= new FormData()
                // var iniciar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                // submit_with_ajax(iniciar_link, 'Notificación', '¿Estás seguro de iniciar la tarea?',  parameters, function () {
                //     location.href = window.location.pathname;
                // });

                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblTareas').on('click', 'a[rel="cancelar"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblTareas').on('click', 'a[rel="finalizar"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            //aplicar formato select2 a todos los dropdowns
        $('.select2').select2({
            theme: "bootstrap4",
            language: 'es'
        });

        ahoraInicioLinkTarea.addEventListener("click", function(event) {
            event.preventDefault();  // Evita el comportamiento predeterminado del enlace
            
            // Obtiene la fecha y hora actual en formato 24h
            var now = new Date();
            var fechaHoraActual = now.getFullYear() + "-" +
            ("0" + (now.getMonth() + 1)).slice(-2) + "-" +
            ("0" + now.getDate()).slice(-2) + "T" +
            ("0" + now.getHours()).slice(-2) + ":" +
            ("0" + now.getMinutes()).slice(-2);

            // Actualiza el valor del input con la fecha y hora actual
            horaInicioInputTarea.value = fechaHoraActual;
        });

        ahoraFinLinkTarea.addEventListener("click", function(event) {
            event.preventDefault();  // Evita el comportamiento predeterminado del enlace
            
            // Obtiene la fecha y hora actual en formato 24h
            var now = new Date();
            var fechaHoraActual = now.getFullYear() + "-" +
            ("0" + (now.getMonth() + 1)).slice(-2) + "-" +
            ("0" + now.getDate()).slice(-2) + "T" +
            ("0" + now.getHours()).slice(-2) + ":" +
            ("0" + now.getMinutes()).slice(-2);

            // Actualiza el valor del input con la fecha y hora actual
            horaFinInputTarea.value = fechaHoraActual;
        });


        actualizar_personas();
        actualizar_tipo_tarea();
        actualizar_estado_tarea();

        function actualizar_personas() {
            $.ajax({
                url: '/actualizar_campo/',
                data: {
                    'campo': 'personas'
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_id_responsable_tarea').html(data);
                },
                error: function(xhr, textStatus, errorThrown) {
                    var errorMessage = 'Ocurrió un error al actualizar personas.';
                    alert(errorMessage + ' ' + textStatus + ': ' + errorThrown);
                }
            });
        }

        function actualizar_tipo_tarea() {
            $.ajax({
                url: '/actualizar_campo/',
                data: {
                    'campo': 'tipo_tareas'
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_id_tipo_tarea').html(data);
                },
                error: function(xhr, textStatus, errorThrown) {
                    var errorMessage = 'Ocurrió un error al actualizar tipo tarea.';
                    alert(errorMessage + ' ' + textStatus + ': ' + errorThrown);
                }
            });
        }

        function actualizar_estado_tarea() {
            $.ajax({
                url: '/actualizar_campo/',
                data: {
                    'campo': 'estado_tareas'
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_id_estado_tarea').html(data);
                },
                error: function(xhr, textStatus, errorThrown) {
                    var errorMessage = 'Ocurrió un error al actualizar estado tarea.';
                    alert(errorMessage + ' ' + textStatus + ': ' + errorThrown);
                }
            });
        }

        //boton de agregar tarea
        $('.btnRegistrarTarea').on('click', function () {
            modal.style.display = 'block'
        });

        //boton de cerrar modal tarea
        cerrarmodal.addEventListener('click',()=>{
            limpiar_campos_tarea();
            modal.style.display = 'none';
            });

        //boton de guardar modal tarea
        guardarmodal.addEventListener('click',()=>{
            var horaInicioValueTarea = horaInicioInputTarea.value;
            var horaFinValueTarea = horaFinInputTarea.value;

            if (horaInicioValueTarea && horaFinValueTarea) {


                var horaIniciotarea = new Date(horaInicioValueTarea);
                horaInicioFinalTarea = horaIniciotarea.getFullYear() + "-" +
                ("0" + (horaIniciotarea.getMonth() + 1)).slice(-2) + "-" +
                ("0" + horaIniciotarea.getDate()).slice(-2) + " " +
                ("0" + horaIniciotarea.getHours()).slice(-2) + ":" +
                ("0" + horaIniciotarea.getMinutes()).slice(-2) + ":00";
                var horaFintarea = new Date(horaFinValueTarea);
                horaFinFinalTarea = horaFintarea.getFullYear() + "-" +
                ("0" + (horaFintarea.getMonth() + 1)).slice(-2) + "-" +
                ("0" + horaFintarea.getDate()).slice(-2) + " " +
                ("0" + horaFintarea.getHours()).slice(-2) + ":" +
                ("0" + horaFintarea.getMinutes()).slice(-2) + ":00";

                if (horaFintarea <= horaIniciotarea) {
                    $.alert({
                        title: 'Alerta!',
                        content: 'La hora de fin debe ser mayor que la hora de inicio.',
                    });

                } else {
                    //validar que tenga cargado un id_solicitante
                    if ($('select[name="id_responsable_tarea"]').val() == "" ){

                        $.alert({
                            title: 'Alerta!',
                            content: 'Debe seleccionar un responsable.',
                        });
                    }
                    else {
                        //procedemos a capturar todos los datos de los campos
                        inicio= horaInicioFinalTarea 
                        vencimiento= horaFinFinalTarea
                        responsable_id = $('select[name="id_responsable_tarea"]').val();
                        id_tipo_tarea= $('select[name="id_tipo_tarea"]').val();
                        id_estado = $('select[name="id_estado_tarea"]').val();
                        observacion= $('textarea[name="observacion_tarea"]').val();

                        tarea= {'inicio': inicio, 'vencimiento': vencimiento, 'responsable': responsable_id , 'tipo_tarea': id_tipo_tarea , 'estado': id_estado, 'observacion': observacion, 'id_actividad_academica': id_tutoria, 'tipo_actividad_academica': 'tutoria'}
                
                        //insertamos en la tabla de tareas y actualizamos la pagina 
                        var parameters = new FormData();
                        parameters.append('tarea', JSON.stringify(tarea));
                        submit_with_ajax('/nuevaTarea/', 'Notificación', '¿Estás seguro de registrar la tarea?', parameters, function () {
                            location.href = window.location.pathname;
                        });

                        //limpiamos los campos completados
                        limpiar_campos_tarea();
                        //cerramos el modal y actualizamos el tb de tareas
                        modal.style.display = 'none';
                    }
                }
                
            } else {
                $.alert({
                    title: 'Alerta!',
                    content: 'Los campos de hora inicio y fin deben estar cargados.',
                });
            }
        });
        
        //boton 2 de cerrar modal tarea
        cerrarmodal2.addEventListener('click',()=>{
            limpiar_campos_tarea();
            modal.style.display = 'none';
        });

        function limpiar_campos_tarea(){
            //inicio y fin 
            horaInicioInputTarea.value= ''
            horaFinInputTarea.value= ''
            //responsalbe
            $('select[name="id_responsable_tarea"]').val(null).trigger('change');
            //observacion
            $('textarea[name="observacion_tarea"]').val('');
        }

        });

    </script>

{% endblock extrascripts %}


{% comment %} 
agregar campos de fecha inicio fin estimiada
fecha de inicio fin real
{% endcomment %} 