<div class="modal-content">
    <div class='modal-header text-center'>
      <h3 class="modal-title w-100">Detalles de Cita</h3> 
    </div>

    <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="fecha">Fecha:</label>
              {% if cita.id_cita.datetime_inicio_real %}
                {{ cita.id_cita.datetime_inicio_real|date:"d/m/Y" }}
              {% else %}
                {{ cita.id_cita.datetime_inicio_estimado|date:"d/m/Y" }}
              {% endif %} 
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="horario">Horario:</label>
              {% if cita.id_cita.datetime_fin_real %}
                {{ cita.id_cita.datetime_inicio_real|time:"H:i"|add:' - ' }}{{ cita.id_cita.datetime_fin_real|time:"H:i" }}
              {% else %}
                {{ cita.id_cita.datetime_inicio_estimado|time:"H:i"|add:' - ' }}{{ cita.id_cita.datetime_fin_estimado|time:"H:i" }}
              {% endif %} 
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="encargado">Encargado:</label>
              {{ cita.id_cita.id_funcionario_docente_encargado.nombre|add:' '|title}}{{ cita.id_cita.id_funcionario_docente_encargado|title }} 
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="receptor">Solicitante:</label>
              {% if cita.id_cita.id_persona_alta %}
                {{ cita.id_cita.id_persona_alta.nombre|add:' '|title}}{{ cita.id_cita.id_persona_alta.apellido|title }} 
              {% else %}
                ----------
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="receptor">Motivo:</label>
              {% if cita.id_cita.motivo %}
                {{ cita.id_cita.motivo}} 
              {% else %}
                ----------
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="estado">Estado:</label>
              {{ cita.id_cita.id_estado_actividad_academica.descripcion_estado_actividad_academica|title}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label for="convocatoria">Convocatoria:</label>
              {{ cita.id_cita.id_convocatoria.id_semestre.descripcion_semestre|add:' '|title}}{{ cita.id_cita.id_convocatoria.anho|title }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="facultad">Facultad:</label>
              {% if cita.id_cita.id_facultad %}
                {{ cita.id_cita.id_facultad.descripcion_facultad|title}}
              {% else %}
                ----------
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="materia">Materia:</label>
              {% if cita.id_cita.id_materia %}
                {{ cita.id_cita.id_materia.descripcion_materia|title}}
              {% else %}
                ----------
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="observacion">Observación:</label>
              {% if cita.id_cita.observacion %}
                {{ cita.id_cita.observacion|title}}
              {% else %}
                ----------
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-20">
              <label class="label" for="nro_curso">Nro Curso:</label>
              {% if cita.id_cita.nro_curso %}
                {{ cita.id_cita.nro_curso|title}}
              {% else %}
                ----------
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-20">
              <label class="label" for="tipo">Tipo Cita:</label>
              {% if cita.es_tutoria %}
                Tutoría
              {% elif cita.es_orientacion_academica %}
                Orientación Académica
              {% endif %}

            </div>
          </div>

          <div class="row">
            <div class="col-md-20">
              <label class="label" for="participantes">Participantes:</label>
              {% if detalles %}
                <ul>
                  {% for value in detalles %}
                    <li>{{ value.id_participante.nombre|add:' '|title}}{{ value.id_participante.apellido|title }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p>Sin participantes...</p>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
{% comment %} 
    <div class="row justify-content-end">
      <div class="col-md-4"> <!-- Ajusta el tamaño de la columna según tus necesidades -->
        <button type="button mt-2" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

          <a class="btn btn-primary mt-2" href="">
              Más Detalles
          </a>
      </div>
    </div> {% endcomment %}
      
    <div class="modal-footer">
      <div class="mt-2">
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cerrar</button>
        {% if cita.es_tutoria %}
        <a type="button" class="btn btn-primary" href="{% url 'calendarapp:more_detalles_cita_tutoria' cita.id_cita %}">Más Detalles</a>
        {% elif cita.es_orientacion_academica %}
              <a type="button" class="btn btn-primary" href="{% url 'calendarapp:more_cita_detalles_ori_academica' cita.id_cita %}">Más Detalles</a>
        {% endif %}
      </div>
    </div>

</div>  

