{% extends 'base/base.html' %}
{% load static %}

{% block title %}Citas{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            
            {% if perms.calendarapp.iniciar_cita == False  %}
                <div>
                    <button  type="button" hx-target="#dialog" class="btn btn-primary mt-2" hx-get="{% url 'calendarapp:tipo_cita' %}"  >
                        Registrar Cita
                    </button>

                </div>
                <br>
            {% endif %}

            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="tblEvents" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th >ID</th>
                                            <th>Fecha</th>
                                            <th>Dia</th>
                                            <th >Horario</th>
                                            <th >Estado</th>
                                            <th >Funcionario/Docente</th>
                                            <th >Solicitante</th>
                                            <th >Tipo</th>
                                            <th >Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modalEvent" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document"> 
            
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
<link rel="stylesheet" href="{% static 'lib_extras/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib_extras/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib_extras/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib_extras/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
 <!-- Jquery Confirm -->
 <link rel="stylesheet" href="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
 <script src="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
 <!-- Functions -->
 <script src="{% static 'js/functions.js' %}"></script>

    <script> 

        var tblEvents;
        var lista_eventos = {{ citas|safe }}

        $(document).ready(function() {

            tblEvents = $('#tblEvents').DataTable({
                responsive: true,
                //scrollX: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                data: lista_eventos,
                columns: [
                    {"data": "id"},
                    {"data": "fecha"},
                    {"data": "dia"},
                    {"data": "horario"},
                    {"data": "estado"},
                    {"data": "encargado"},
                    {"data": "solicitante"},
                    {"data": "tipo"},
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if ((row.tipo == 'Tutoría') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'staff' )){
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="confirmar"  class="btn btn-primary" style="color: white;"  title="Confirmar Cita" value="/cita/confirmar/' + row.id + '"> <i class="bi bi-calendar-check"></i> </a> <a rel="rechazar"  class="btn btn-danger" style="color: white;" title="Rechazar Cita" value="/cita/rechazar/' + row.id + '"> <i class="bi bi-box-arrow-left"></i> </a>';
                            } else if ((row.tipo == 'Tutoría') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="editar" class="btn btn-primary" style="color: white;"title="Editar"  href="/modificarCitaTutoria/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Tutoría') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'staff' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="iniciar" class="btn btn-primary" style="color: white;"title="Iniciar Cita" href="/iniciarCitaTutoria/' + row.id + '"> <i class="bi bi-caret-right-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>'; 
                            } else if ((row.tipo == 'Tutoría') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles">  <i class="bi bi-eye-fill"></i> </a> <a  class="btn btn-danger" style="color: white;"  title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Tutoría') && (row.estado == 'Rechazada' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i rel="editar" class="bi bi-eye-fill"></i> </a> <a class="btn btn-primary" style="color: white;"title="Reagendar" value="/modificarCitaTutoria/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            }
                            else if (row.tipo == 'Tutoría') {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a>';
                            } 
                            
                            else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'staff' )){
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="confirmar"  class="btn btn-primary" style="color: white;"  title="Confirmar Cita" value="/cita/confirmar/' + row.id + '"> <i class="bi bi-calendar-check"></i> </a> <a rel="rechazar"  class="btn btn-danger" style="color: white;" title="Rechazar Cita" value="/cita/rechazar/' + row.id + '"> <i class="bi bi-box-arrow-left"></i> </a>';
                            } else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Pendiente' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"> <i class="bi bi-eye-fill"></i> </a> <a rel="editar" class="btn btn-primary" style="color: white;"title="Editar" href="/modificarCitaOriAcademica/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'staff' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i>  </a> <a rel="iniciar" class="btn btn-primary" style="color: white;"title="Iniciar Cita" href="/iniciarCitaOrientacionAcademica/' + row.id + '"> <i class="bi bi-caret-right-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>'; 
                            } else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Confirmada' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i>  </a> <a  class="btn btn-danger" style="color: white;"  title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            } else if ((row.tipo == 'Orientación Académica') && (row.estado == 'Rechazada' ) &&  (row.tipo_usuario == 'normal' )) {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i> </a> <a rel="editar" class="btn btn-primary" style="color: white;"title="Reagendar" value="/modificarCitaTutoria/' + row.id + '"> <i class="bi bi-pencil-fill"></i> </a> <a rel="cancelar"  class="btn btn-danger" style="color: white;" title="Cancelar" value="/cita/cancelar/' + row.id + '"> <i class="bi bi-x-circle-fill"></i> </a>';
                            }
                            else if (row.tipo == 'Orientación Académica') {
                                return '<a rel="detalles"  class="btn btn-primary" style="color: white;"   value="/detallesCita/' + row.id + '" title="Detalles"><i class="bi bi-eye-fill"></i> </a>';
                            } 
                            
                        }
                    
                    }
                
                ],
                order: [] 
            });


            $('#tblEvents').on('click', 'a[rel="detalles"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblEvents').on('click', 'a[rel="cancelar"]', function(event) { 
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    //console.log(data)
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblEvents').on('click', 'a[rel="confirmar"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    //console.log(data)
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });

            $('#tblEvents').on('click', 'a[rel="rechazar"]', function(event) {
                event.preventDefault();
            
                // Obtener la URL del valor del atributo "value" del elemento <a>
                var url = $(this).attr("value");
                    
                // Obtener el elemento modal
                var modal = $('#modalEvent');

                // Realizar una solicitud AJAX para cargar el contenido
                $.get(url, function(data) {
                    //console.log(data)
                    // Insertar el contenido en el elemento con la clase "modal-dialog"
                    modal.find('.modal-dialog').html(data);

                    // Mostrar el modal
                    modal.modal('show');
                });
            });


            if (window.location.pathname === "/running-event-list/Tutoria/") {
                $('#CitaTutoriaMenu').addClass('active');
            } else if (window.location.pathname === "/running-event-list/OriAcademica/") {
                $('#CitaOrientacionMenu').addClass('active');
            } else if (window.location.pathname === "/all-event-list/") {
                $('#CitaMenu').addClass('active');
            }
        });

    </script>


{% endblock extrascripts %}
