{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon bi bi-check-circle-fill fa-3x"></i>
            <div class="info">
                <h5>Tareas finalizadas</h5>
                <p><b>{{ datos.tarea_finalizada }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h5>Tareas iniciadas</h5>
                <p><b>{{ datos.tarea_iniciada }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon bi bi-hourglass-split fa-3x"></i>
            <div class="info">
                <h5>Tareas pendientes</h5>
                <p><b>{{ datos.tarea_pendiente }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon bi bi-x-circle-fill fa-3x"></i>
            <div class="info">
                <h5>Tareas Canceladas</h5>
                <p><b>{{ datos.tarea_cancelada }}</b></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tile-body">
                <div class="table-responsive">
                    <div class="tile">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover table-bordered dataTable no-footer" id="tblTareas" role="grid" aria-describedby="sampleTable_info">
                                        <thead>
                                            <tr role="row">
                                                <th></th>
                                                <th>Inicio</th>
                                                <th>Vencimiento</th>
                                                <th>Responsable</th>
                                                <th>Tipo</th>
                                                <th>Estado</th>
                                                <th>Observación</th>
                                                <th>Actividad Académica</th>
                                                <th>ID Actividad</th>
                                                <th>Opción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extrascripts %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
 <!-- Jquery Confirm -->
 <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
 <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
 <!-- Functions -->
 <script src="{% static 'js/functions.js' %}"></script>

    <script> 

        var tblTareas;
        var lista_tarea = {{ tarea|safe }}

       

        $(document).ready(function() {


            function format(t) {
                var html = '<table class="table">';
                html += '<thead>';
                html += '<tr><th scope="col">Finalizado por</th>';
                html += '<th scope="col">Registrado por</th>';
                html += '<th scope="col">Fecha alta</th>';
                html += '<th scope="col">Fecha Inicio real</th>';
                html += '<th scope="col">Fecha Fin real</th>';
                html += '<th scope="col">Ultima modificación</th></tr>';
                html += '</thead>';
                html += '<tbody>';
                    html+='<tr>'
                    html+='<td>'+t.persona_finalizacion+'</td>'
                    html+='<td>'+t.persona_alta+'</td>'
                    html+='<td>'+t.datetime_alta+'</td>'
                    html+='<td>'+t.datetime_inicio_real+'</td>'
                    html+='<td>'+t.datetime_finalizacion+'</td>'
                    html+='<td>'+t.datetime_ultima_modificacion+'</td>'
                    html+='</tr>';
                html += '</tbody>';
                return html;
            }

            tblTareas = $('#tblTareas').DataTable({
                responsive: true,
                //scrollX: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                data: lista_tarea,
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {"data": "datetime_inicio_estimado"},
                    {"data": "datetime_vencimiento"},
                    {"data": "persona_responsable"},
                    {"data": "tipo_tarea"},
                    {"data": "estado_tarea"},
                    {"data": "observacion"},
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if ((row.id_tutoria == '') && (row.id_orientacion_academica != '') ){
                                return "Orientación Académica";
                            } else if ((row.id_orientacion_academica == '') && (row.id_tutoria != '')) {
                                return "Tutoría";
                            } else {
                                return ""
                            }
                        }
                    },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if ((row.id_tutoria == '') && (row.id_orientacion_academica != '') ){
                                return row.id_orientacion_academica;
                            } else if ((row.id_orientacion_academica == '') && (row.id_tutoria != '')) {
                                return  row.id_tutoria;
                            } else {
                                return ""
                            }
                        }
                    },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            if ((row.estado_tarea === "Pendiente") && ((row.id_orientacion_academica == '') && (row.id_tutoria != ''))){
                                return '<a rel="iniciar" type="button" class="btn btn-primary" style="color: white;" title="Iniciar tarea" value="/tarea/iniciar/' + row.id_tarea + '/"><i class="bi bi-caret-right-fill"></i></a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a> <a rel="detalles" class="btn btn-primary" style="color: white;" title="Ver detalles tutoría" href="/moredetallesTutoria/' + row.id_tutoria + '"><i class="bi bi-eye-fill"></i></a>';
                            } else if ((row.estado_tarea === "Iniciada") && ((row.id_orientacion_academica == '') && (row.id_tutoria != ''))){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>  <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar tarea" value="/tarea/finalizar/' + row.id_tarea + '/"><i class="bi bi-check2"></i></a> <a rel="detalles" class="btn btn-primary" style="color: white;" title="Ver detalles tutoría" href="/moredetallesTutoria/' + row.id_tutoria + '"><i class="bi bi-eye-fill"></i></a>';
                            } 
                            else if ((row.estado_tarea === "Pendiente") && ((row.id_tutoria == '') && (row.id_orientacion_academica != ''))){

                                return '<a rel="iniciar" type="button" class="btn btn-primary" style="color: white;" title="Iniciar tarea" value="/tarea/iniciar/' + row.id_tarea + '/"><i class="bi bi-caret-right-fill"></i></a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a> <a rel="detalles" class="btn btn-primary" style="color: white;" title="Ver detalles Orientación Académica" href="/moredetallesOrientacionAcademica/' + row.id_orientacion_academica + '"><i class="bi bi-eye-fill"></i></a>';
                            } else if ((row.estado_tarea === "Iniciada") && ((row.id_tutoria == '') && (row.id_orientacion_academica != ''))){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>  <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar tarea" value="/tarea/finalizar/' + row.id_tarea + '/"><i class="bi bi-check2"></i></a>  <a rel="detalles" class="btn btn-primary" style="color: white;" title="Ver detalles Orientación Académica" href="/moredetallesOrientacionAcademica/' + row.id_orientacion_academica + '"><i class="bi bi-eye-fill"></i></a>'; 
                            }
                            else if ((row.estado_tarea === "Pendiente") && ((row.id_orientacion_academica == '') && (row.id_tutoria == ''))){
    
                                return '<a rel="iniciar" type="button" class="btn btn-primary" style="color: white;" title="Iniciar tarea" value="/tarea/iniciar/' + row.id_tarea + '/"><i class="bi bi-caret-right-fill"></i></a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>';
                            } else if ((row.estado_tarea === "Iniciada") && ((row.id_orientacion_academica == '') && (row.id_tutoria == ''))){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>  <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar tarea" value="/tarea/finalizar/' + row.id_tarea + '/"><i class="bi bi-check2"></i></a>';
                            } else if ((row.estado_tarea === "Pendiente") && ((row.id_tutoria == '') && (row.id_orientacion_academica == ''))){
                 
                                return '<a rel="iniciar" type="button" class="btn btn-primary" style="color: white;" title="Iniciar tarea" value="/tarea/iniciar/' + row.id_tarea + '/"><i class="bi bi-caret-right-fill"></i></a> <a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>';
                            } else if ((row.estado_tarea === "Iniciada") && ((row.id_tutoria == '') && (row.id_orientacion_academica == ''))){
                                return '<a rel="cancelar" class="btn btn-danger" style="color: white;" title="Cancelar tarea" value="/tarea/cancelar/' + row.id_tarea + '/"><i class="bi bi-x-lg"></i></a>  <a rel="finalizar" class="btn btn-primary" style="color: white;" title="Finalizar tarea" value="/tarea/finalizar/' + row.id_tarea + '/"><i class="bi bi-check2"></i></a>'; 
                            } else if ((row.id_orientacion_academica == '') && (row.id_tutoria != '')){
                                return '<a rel="detalles" class="btn btn-primary" style="color: white;" title="Ver detalles tutoría" href="/moredetallesTutoria/' + row.id_tutoria + '"><i class="bi bi-eye-fill"></i></a>';
                            }  else if ((row.id_tutoria == '') && (row.id_orientacion_academica != '')){
                                return '<a rel="detalles" class="btn btn-primary" style="color: white;" title="Ver detalles Orientación Académica" href="/moredetallesOrientacionAcademica/' + row.id_orientacion_academica + '"><i class="bi bi-eye-fill"></i></a>'; 
                            } else {
                                return '';
                            }
                    }
                }
                    //{"data": "id_tarea"},
                ]
            });

            $('a[rel="iniciar"]').on('click', function () {
                var parameters= new FormData()
                var iniciar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                submit_with_ajax(iniciar_link, 'Notificación', '¿Estás seguro de iniciar la tarea?',  parameters, function () {
                    location.href = window.location.pathname;
                });
            });

            $('a[rel="cancelar"]').on('click', function () {
                var parameters= new FormData()
                var cancelar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                submit_with_ajax(cancelar_link, 'Notificación', '¿Estás seguro de cancelar la tarea?',  parameters, function () {
                    location.href = window.location.pathname;
                });
            });

            $('a[rel="finalizar"]').on('click', function () {
                var parameters= new FormData()
                var finalizar_link = $(this).attr('value');  // Capturar el valor del atributo 'value'
                submit_with_ajax(finalizar_link, 'Notificación', '¿Estás seguro de finalizar la tarea?',  parameters, function () {
                    location.href = window.location.pathname;
                });
            });

            $('#tblTareas tbody')
                .on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = tblTareas.row(tr);
                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                });

        });

    </script>

{% endblock extrascripts %}


