{% extends 'base/base.html' %}
{% load static %}

{% comment %} agregado {% endcomment %}
{% block head_list %}

{% endblock %}

{% block title %}Registrar Tutoría{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

<form method="post" id="tutoria">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                <i class="bi bi-plus-lg"></i>
                {% else %}
                    <i class="fas fa-edit"></i>
                {% endif %}
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="bi bi-person-video3"></i> Datos de la Tutoría</h3>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="action" value="{{ action }}">
                            <div class="form-group">
                                <label class="label" for="id_facultad">Facultad</label>
                                {{ form.id_facultad}}
                                <span class="text-danger">{{ form.errors.id_facultad }}</span>
                            </div>
                            <div class="form-group">
                                <label class="label" for="id_funcionario_docente_encargado">Docente</label>
                                {{ form.id_funcionario_docente_encargado }}
                                <span class="text-danger">{{ form.errors.id_funcionario_docente_encargado }}</span>
                            </div>
                            <div class="form-group">
                                <label class="label" for="id_materia">Materia</label>
                                {{ form.id_materia}}
                                <span class="text-danger">{{ form.errors.id_materia }}</span>
                            </div>
                            <div class="form-group">
                                <label class="label" for="id_convocatoria">Convocatoria</label>
                                <select name="id_convocatoria" class="form-control select2 select2-hidden-accessible" style="width: 100%" id="id_id_convocatoria" data-select2-id="id_id_convocatoria" tabindex="-1" aria-hidden="true"></select>
                            </div>
                            <div class="form-group">
                                <label class="label" for="nro_curso">Nro. Curso</label>
                                <div class="input-group">
                                    {{ form.nro_curso }}
                                    <span class="text-danger">{{ form.errors.motivo }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="hora_inicio">Inicio</label> 
                                <div class="input-group">
                                    <input type="datetime-local" class="form-control" id="hora_inicio" name="hora_inicio">
                                    <a href="#" id="ahora_inicio">  Ahora </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label" for="hora_fin">Fin</label> 
                                <div class="input-group">
                                    <input type="datetime-local" class="form-control" id="hora_fin" name="hora_fin">
                                    <a href="#" id="ahora_fin">  Ahora </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="id_tipo_tutoria">Solicitante</label>
                                <select name="id_solicitante" class="form-control select2 select2-hidden-accessible" style="width: 100%" id="id_id_solicitante" data-select2-id="id_id_solicitante" tabindex="-1" aria-hidden="true"></select>
                            </div>
                            <div class="form-group">
                                <label class="label" for="id_tipo_tutoria">Tipo de Tutoría</label>
                                <select name="id_tipo_tutoria" class="form-control select2 select2-hidden-accessible" style="width: 100%" id="id_id_tipo_tutoria" data-select2-id="id_id_tipo_tutoria" tabindex="-1" aria-hidden="true"></select>
                            </div>
                            <div class="form-group">
                                <label class="label" for="nombre_trabajo_grado">Nombre de Trabajo</label>
                                <textarea placeholder= "Opcional, en caso de tratarse de una tutoría de trabajo de grado o tésis..." class="form-control" rows="4" cols="30" name="nombre_trabajo" maxlength="200"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="label" for="observacion">Observación</label>
                                <textarea placeholder= "Desea agregar algún comentario adicional?..." class="form-control" rows="4" cols="50" name="observacion" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="bi bi-people"></i> Participantes adicionales</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador de participantes:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search"
                                           placeholder="Ingrese número de cédula del participante..." autocomplete="off">
                                    <span class="input-group-append">
                                    <button type="button" class="btn btn-danger btn-flat btnClearSearch" title="Cancelar"><i class="bi bi-x-lg"></i></button>
                                  </span>
                                </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-danger btn-xs btn-flat btnRemoveAll">
                                <i class="bi bi-trash2"></i> Eliminar todos los participantes
                            </button>
                            <hr>
                            <table class="table table-bordered" id="tblParticipantes">
                                <thead>
                                <tr>
                                    <th>Opción</th>
                                    <th>Participante</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="bi bi-calendar-check"></i> Guardar registro
            </button> 
            <button type="button" class="btn btn-danger btn-flat btnCancelar" title="Cancelar"> <i class="bi bi-calendar-x"></i> Cancelar</button>

        </div>
    </div>
</form>

{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Jquery Confirm -->
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
    <!-- Functions -->
    <script src="{% static 'js/functions.js' %}"></script>

    <script>
        // Obtén una referencia al enlace y al elemento input
        var ahoraInicioLink = document.getElementById("ahora_inicio");
        var horaInicioInput = document.getElementById("hora_inicio");
        var ahoraFinLink = document.getElementById("ahora_fin");
        var horaFinInput = document.getElementById("hora_fin");

        var mi_form= $('#tutoria')
        var tblParticipantes;
        var actividad_academica = {
            items: {
                id_facultad: '',
                id_materia: '',
                id_funcionario_docente_encargado: '',
                id_solicitante: '',
                nro_curso: '',
                participantes: [],
                convocatoria: '',
                datetime_inicio_estimado: '',
                datetime_fin_estimado: '',
                id_tipo_tutoria: '',
                nombre_trabajo: '',
                observacion: ''
            },

            add: function (item) {
                this.items.participantes.push(item);
                this.list();
            },
            verificar_participante: function (valor) {
                var encontrado= false;
                for (var i = 0; i < this.items.participantes.length; i++) {
                    if (this.items.participantes[i]["id"] === valor) {
                      encontrado = true;
                      break;
                    }
                }

                  if (encontrado) {
                    return true;
                  } else {
                    return false;
                  }
            },
            list: function () {

                tblParticipantes = $('#tblParticipantes').DataTable({
                    searching: false,
                    paging: false,
                    responsive: true,
                    autoWidth: false,
                    destroy: true,
                    data: this.items.participantes,
                    columns: [
                        {"data": "id"},
                        {"data": "value"},
                    ],
                    columnDefs: [
                        {
                            targets: [0],
                            class: 'text-center',
                            orderable: false,
                            render: function (data, type, row) {
                                return '<a rel="remove" class="btn btn-danger btn-xs btn-flat" style="color: white;"><i class="bi bi-dash"></i></a>';
                            }
                        },
                    ]

                });
            },
        };

        $(document).ready(function() {

            // Agrega un evento de clic al enlace
            ahoraInicioLink.addEventListener("click", function(event) {
                event.preventDefault();  // Evita el comportamiento predeterminado del enlace
                
                // Obtiene la fecha y hora actual en formato 24h
                var now = new Date();
                var fechaHoraActual = now.getFullYear() + "-" +
                ("0" + (now.getMonth() + 1)).slice(-2) + "-" +
                ("0" + now.getDate()).slice(-2) + "T" +
                ("0" + now.getHours()).slice(-2) + ":" +
                ("0" + now.getMinutes()).slice(-2);

                // Actualiza el valor del input con la fecha y hora actual
                horaInicioInput.value = fechaHoraActual;
            });

            // Agrega un evento de clic al enlace
            ahoraFinLink.addEventListener("click", function(event) {
                event.preventDefault();  // Evita el comportamiento predeterminado del enlace
                
                // Obtiene la fecha y hora actual en formato 24h
                var now = new Date();
                var fechaHoraActual = now.getFullYear() + "-" +
                ("0" + (now.getMonth() + 1)).slice(-2) + "-" +
                ("0" + now.getDate()).slice(-2) + "T" +
                ("0" + now.getHours()).slice(-2) + ":" +
                ("0" + now.getMinutes()).slice(-2);

                // Actualiza el valor del input con la fecha y hora actual
                horaFinInput.value = fechaHoraActual;
            });

            //cuando se cargue la pagina traer todas las facultades
            actualizarfacultad();
            actualizarconvocatoria();
            actualizartipo_tutoria();
            actualizar_personas();

            //primero debemos actualizar el docente y en base a eso la facultad y en base a eso las materias del profesor 

            //tenemos que traer todas las facultades de los departamentos que esten asignados al funcionario docente
            function actualizarfacultad() {
                $.ajax({
                    url: '/actualizar_campo/',
                    data: {
                        'campo': 'facultad'
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#id_id_facultad').html(data);
                        actualizarfuncionariodocente()
                       
                    }
                });
                 //cuando este en produccion favor cambiar la facultad para que traiga por las facultades que corresponden al departamento del funcionario docente
                //$.ajax({
                //    url: '/actualizar_campo/',
                //    data: {
                //        'campo': 'facultad_func_doc'
                //    },
                //    dataType: 'json',
                //    success: function(data) {
                //        $('#id_id_facultad').html(data);
                //        band_boton_selects= band_boton_selects + 1
                //        actualizarfuncionariodocente()
                //    }
                //});

            }

            function actualizarconvocatoria() {
                $.ajax({
                    url: '/actualizar_campo/',
                    data: {
                        'campo': 'convocatoria'
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#id_id_convocatoria').html(data);
                       
                    }
                });
            }

            function actualizartipo_tutoria() {
                $.ajax({
                    url: '/actualizar_campo/',
                    data: {
                        'campo': 'tipo_tutoria'
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#id_id_tipo_tutoria').html(data);
                    }
                });
            }

            function actualizar_personas() {
                $.ajax({
                    url: '/actualizar_campo/',
                    data: {
                        'campo': 'personas'
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#id_id_solicitante').html(data);
                    }
                });
            }

            //actualizar el campo de la docente/funcionario de acuerdo a la materia seleccionada
            function actualizarfuncionariodocente() {
                //debemos seleccionar el id del funcionario docente que este actualmente logeado, si no no hacer nada 
                $.ajax({
                    url: '/actualizar_campo/',
                    data: {
                        'campo': 'funcionariodocente_logeado'
                    },
                    dataType: 'json',
                    success: function(data) {
                        // Convertir a diccionario
                        var diccionario = Object.assign({}, data);

                        // Verificar si el diccionario tiene datos
                        var tieneDatos = Object.keys(diccionario).length > 0;
                            if (tieneDatos) {
                                $('#id_id_funcionario_docente_encargado').html(data);
                                //habilitar una vez que el func_doc tenta asignado un departamento
                                //$.ajax({
                                //    url: '/actualizar_campo/',
                                //    data: {
                                //        'campo': 'funcdoc_logeado_materias',
                                //        'func_doc'= diccionario.id_funcionario_docente
    
                                //    },
                                //    dataType: 'json',
                                //    success: function(datos) {
                                        // Convertir a diccionario
                                //        diccionario = Object.assign({}, datos);
    
                                        // Verificar si el diccionario tiene datos
                                //        var tieneDatos = Object.keys(diccionario).length > 0;
                                //            if (tieneDatos) {
                                //                $('#id_id_materia').html(datos)
                                //            }
                                //    }
                                //});
                                //traemos las materias que esten asociadas al funcionario docente
                                actualizarmaterias_func_doce($('#id_id_funcionario_docente_encargado').val())
                            }
                    }
                });                        
            }
            //actualizar las materias que esten asociadas al funcionario docente
            function actualizarmaterias_func_doce(func_doc) {
                $.ajax({
                    url: '/actualizar_campo/',
                    data: {
                        'campo': 'funcdoc_logeado_materias',
                        'func_doc': func_doc
                    },
                    dataType: 'json',
                    success: function(data) {
                        // Convertir a diccionario
                        var diccionario = Object.assign({}, data);

                        // Verificar si el diccionario tiene datos
                        var tieneDatos = Object.keys(diccionario).length > 0;
                            if (tieneDatos) {
                                $('#id_id_materia').html(data);

                            }
                     }       
                });
            }

            //aplicar formato select2 a todos los dropdowns
            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });


            // search participantes
            $('input[name="search"]').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'search_participantes',
                            'term': request.term
                        },
                        dataType: 'json',
                    }).done(function (data) {
                        response(data);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        //alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                },
                delay: 500,
                minLength: 1,
                select: function (event, ui) {
                    event.preventDefault();
                    console.clear();
                    var validar;
                    validar= actividad_academica.verificar_participante(ui.item["id"])
                    if (validar) {
                        $.alert({
                            title: 'Alerta!',
                            content: 'El participante ya fue agregado en la lista!',
                        });
                    }
                    else{
                        actividad_academica.add(ui.item);
                        $(this).val('');
                    }
                }
            });

            
            //elimina todos los participantes
            $('.btnRemoveAll').on('click', function () {
                if (actividad_academica.items.participantes.length === 0) return false;
                alert_action('Notificación', '¿Estas seguro de eliminar todos los participantes?', function () {
                    actividad_academica.items.participantes = [];
                    actividad_academica.list();
                });
            });

            //eliminar por item de participante
            $('#tblParticipantes tbody')
                .on('click', 'a[rel="remove"]', function () {
                    var tr = tblParticipantes.cell($(this).closest('td, li')).index();
                    alert_action('Notificación', '¿Estas seguro de eliminar el participante?', function () {
                        actividad_academica.items.participantes.splice(tr.row, 1);
                        actividad_academica.list();
                    });
                })

            //actualizar las busqueda de CI
            $('.btnClearSearch').on('click', function () {
                $('input[name="search"]').val('').focus();
            });


            // Cita submit, asignacion de atributos para enviar
            $('form').on('submit', function (e) {
                e.preventDefault();

                //primero debemos validar que los campo obligatorios esten cargados 
                //validar que el fin no sean menor o igual a Inicio

                var horaInicioValue = horaInicioInput.value;
                var horaFinValue = horaFinInput.value;

                if (horaInicioValue && horaFinValue) {

                    var horaInicio = new Date(horaInicioValue);
                    horaInicioFinal = horaInicio.getFullYear() + "-" +
                    ("0" + (horaInicio.getMonth() + 1)).slice(-2) + "-" +
                    ("0" + horaInicio.getDate()).slice(-2) + " " +
                    ("0" + horaInicio.getHours()).slice(-2) + ":" +
                    ("0" + horaInicio.getMinutes()).slice(-2) + ":00";
                    var horaFin = new Date(horaFinValue);
                    horaFinFinal = horaFin.getFullYear() + "-" +
                    ("0" + (horaFin.getMonth() + 1)).slice(-2) + "-" +
                    ("0" + horaFin.getDate()).slice(-2) + " " +
                    ("0" + horaFin.getHours()).slice(-2) + ":" +
                    ("0" + horaFin.getMinutes()).slice(-2) + ":00";

                    if (horaFin <= horaInicio) {
                        $.alert({
                            title: 'Alerta!',
                            content: 'La hora de fin debe ser mayor que la hora de inicio.',
                        });

                    } else {
                         //validar que tenga cargado un id_solicitante
                        if ($('select[name="id_solicitante"]').val() == "" ){

                            $.alert({
                                title: 'Alerta!',
                                content: 'Debe seleccionar un solicitante.',
                            });
                        }
                        else {
                            //seleccionamos los datos del formulario
                            actividad_academica.items.id_facultad = $('select[name="id_facultad"]').val();
                            actividad_academica.items.id_materia = $('select[name="id_materia"]').val();
                            actividad_academica.items.id_funcionario_docente_encargado = $('select[name="id_funcionario_docente_encargado"]').val();
                            actividad_academica.items.id_solicitante = $('select[name="id_solicitante"]').val();
                            actividad_academica.items.convocatoria = $('select[name="id_convocatoria"]').val();
                            actividad_academica.items.nro_curso = $('input[name="nro_curso"]').val();
                            actividad_academica.items.datetime_inicio_estimado = horaInicioFinal
                            actividad_academica.items.datetime_fin_estimado = horaFinFinal
                            actividad_academica.items.id_tipo_tutoria = $('select[name="id_tipo_tutoria"]').val();
                            actividad_academica.items.nombre_trabajo = $('textarea[name="nombre_trabajo"]').val();
                            actividad_academica.items.observacion = $('textarea[name="observacion"]').val();

                            var parameters = new FormData();
                            parameters.append('action', $('input[name="action"]').val());
                            parameters.append('actividad_academica', JSON.stringify(actividad_academica.items));
                            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de finalizar la tutoría?', parameters, function () {
                                location.href = '/running-acti_academ-list/Tutoria/';
                            });
                        }
                    }
                } else {
                    $.alert({
                        title: 'Alerta!',
                        content: 'Los campos de hora inicio y fin deben estar cargados.',
                    });
                }
            });

            //boton de cancelar
            $('.btnCancelar').on('click', function () {
                alert_action('Notificación', '¿Estas seguro de cancelar el proceso?', function () {
                    window.location.href= '/running-acti_academ-list/Tutoria/'
                });
            });

        });

        actividad_academica.list();

    </script>


{% endblock extrascripts %}
