{% comment %} el request.path se usa para poder usar la misma url del gest para el metodo post {% endcomment %}
<form hx-post= "{{request.path}}" class="modal-content">
{% csrf_token %}

  <div class='modal-header text-center'>
    <h3 class="modal-title w-100">Cambiar Contraseña</h3> 
  </div>  

  <p class="or">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <span class="text-danger"> {{ message }} </span>
            {% endfor %}
        </ul>
    {% endif %}
  </p>

  <div class="modal-body">
    <div class="col-md-12">
      <div class="form-group">
        <label class="label" for="password">Contraseña Actual</label>
        {{ form.contrasenha}}
        <span class="text-danger">{{ form.errors.contrasenha }}</span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label class="label" for="password">Contraseña Nueva</label>
        {{ form.password1 }}
        <span class="text-danger">{{ form.errors.password1 }}</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
          <label class="label" for="password">Confirmar Contraseña</label>
          {{ form.password2 }}
          <span class="text-danger">{{ form.errors.password2 }}</span>
        </div>
    </div>

    <div class="modal-footer">
      {% comment %} cuidado con las versiones de Bootstrap! {% endcomment %}
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </div>  
        
  </div>
</form>  

{% comment %} <form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  
  <div class='modal-header'>
    <h1> Cambiar Contraseña </h1>
  </div>

  <p class="or">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <span class="text-danger"> {{ message }} </span>
            {% endfor %}
        </ul>
    {% endif %}
  </p>

  <div class="modal-body">

    <div class="col-md-12">
      <div class="form-group">
        <label class="label" for="password">Contraseña Actual</label>
        {{ form.contrasenha}}
        <span class="text-danger">{{ form.errors.contrasenha }}</span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label class="label" for="password">Contraseña Nueva</label>
        {{ form.password1 }}
        <span class="text-danger">{{ form.errors.password1 }}</span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
          <label class="label" for="password">Confirmar Contraseña</label>
          {{ form.password2 }}
          <span class="text-danger">{{ form.errors.password2 }}</span>
        </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
  </div>

</form> {% endcomment %}