.texto-destacado {
    font-weight: bold;
    color: #009688;
  }


  /* Agregar margen a la clase "add-space" */
.add-space {
  margin-left: 5px; /* Puedes ajustar el valor según necesites */
}


td.details-control {
  background: url('../lib/datatables-1.10.20/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../lib/datatables-1.10.20/images/details_close.png') no-repeat center center;
}