.texto-destacado {
    font-weight: bold;
    color: #009688;
  }


  /* Agregar margen a la clase "add-space" */
.add-space {
  margin-left: 5px; /* Puedes ajustar el valor según necesites */
}


td.details-control {
  background: url('../lib_extras/datatables-1.10.20/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../lib_extras/datatables-1.10.20/images/details_close.png') no-repeat center center;
}

.app-notification__item-container {
  display: block;
  margin-bottom: 10px; /* Espacio entre elementos */
}


.notification-list {
  background-color: #e9e9e9e1; /* Color gris de fondo */
  padding: 10px; /* Espacio interno para el fondo gris */
  /*list-style: none;  Elimina las viñetas predeterminadas */
}

.notification-list li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}


.notification-lista {
  background-color: #e9e9e9c0; /* Color gris de fondo */
  padding: 10px; /* Espacio interno para el fondo gris */
  list-style: none;  /*Elimina las viñetas predeterminadas */
}



.aviso-procesando {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.aviso-procesando p {
  font-size: 16px;
  margin-bottom: 10px;
}

.aviso-procesando img {
  width: 64px; /* Ajusta el tamaño según tus necesidades */
}

.bienvenida {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 10px 0 10px 120px; /* Añade un margen de 10px a la derecha y 10px arriba y abajo */
  margin-bottom: 10px;
}