
{% load static %}
<form hx-post= "{{request.path}}" class="modal-content" id="formeliminar"> 
      <div class='modal-header text-center'>
        <h3 class="modal-title w-100">Eliminar Registro</h3> 
      </div>

      <p class="or">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <span class="text-danger"> {{ message }} </span>
                {% endfor %}
            </ul>
        {% endif %} 
      </p> 

        <div class="col-md-12">
            <div class="form-group">
              <label class="label" for="hora_fin">Está seguro que desea eliminar el registro?</label>
            </div>
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrar">Cancelar</button>
          <button type="button" class="btn btn-primary" id="eliminar">Aceptar</button>
        </div>  
            
      </div>
</form>  

<div id="avisoProcesando" class="aviso-procesando">
  <p>Procesando...</p>
  <img src="{% static 'images/loading.gif' %}" alt="Procesando">

</div>

<!-- Jquery Confirm -->
<link rel="stylesheet" href="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
<script src="{% static 'lib_extras/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
<!-- Functions -->
<script src="{% static 'js/functions.js' %}"></script>

<script>
  
  $(document).ready(function() {
      // Obtener el formulario y el botón de cancelar
      var form = document.getElementById('formeliminar');
      var botonEliminar= document.getElementById('eliminar');
      var botonCerrar = document.getElementById('cerrar');

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
      
      // Agregar el evento click al botón de cancelar
      botonEliminar.addEventListener('click', function() {
      
          botonEliminar.disabled = true;
          botonCerrar.disabled = true;
          // Mostrar el aviso de procesando
          mostrarAvisoDeProcesando();

          // Agregar el motivo al atributo hx-post del formulario
          //form.setAttribute('hx-post', form.getAttribute('hx-post') + '?motivo=' + encodeURIComponent(motivo_cancelacion));


          $.ajax({
            url: form.getAttribute('hx-post'),
            type: 'POST',
          }).done(function (data) {
            ocultarAvisoDeProcesando();
            // Habilitar los botones
            //botonEliminar.disabled = false;
            //botonCerrar.disabled = false;

              location.reload();
          }).fail(function (jqXHR, textStatus, errorThrown) {
              ocultarAvisoDeProcesando();
              // Habilitar los botones
              botonEliminar.disabled = false;
              botonCerrar.disabled = false;

              alert(textStatus + ': ' + errorThrown);
          }).always(function (data) {

          });
        
      });

      function mostrarAvisoDeProcesando() {
        document.getElementById('avisoProcesando').style.display = 'flex'; // Muestra el aviso
      }
    
      function ocultarAvisoDeProcesando() {
        document.getElementById('avisoProcesando').style.display = 'none'; // Oculta el aviso
      }
  });
</script>